<h3>Administration</h3>

<hr/>
<!--div gcms-secure section-name="Administration" action-name="create" style="padding-bottom:20px">
  <gcms-modal template="admin.country2.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span class="btn btn-default" role="button"><i class="fa fa-plus"></i></span>
  </gcms-modal>
</div-->


<div class="panel panel-primary ng-scope">
  <div class="panel-heading">Manage Countries and Temlates</div>
 
  <div class="panel-body">
  <table class="table table-bordered table-striped table-highlight">
      <thead>
        <tr>
		<th><gcms-modal template="admin.country2.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span class="btn btn-default" role="button" style="margin-left: 31px;"><i class="fa fa-plus"></i></span>
  </gcms-modal></th>
        <th>Country ISO Code</th>
        <th>Country  Name</th>
        <th>Country Contact</th>
        <th>Identity Reviewers</th>
        
      </tr>    
	  </thead>
	 <tbody>
	  
        
          <tr>
            <td style="width: 139px;">  <gcms-modal template="admindownarro.html" controller="ModalDefaultCtrl"
              content="announcement" ok="update" alt="Edit Announcement {{announcement.id}}">
	 <i class="fa fa-arrow-down"></i>
            </gcms-modal>
            <gcms-modal template="admin.edit.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span> <a href="">EDIT</a></span>
  </gcms-modal>
			 
            
			<a href="">Delete</a></td>
			<td>BE</td>
                <td>Beldium</td>
                <td>SOFIA</td>
                <td>5 POZITANO SQ</td>
              </tr>
			
		
   
  
			<!--gcms-secure section-name="Landing" action-name="delete">
              <span class="icon" trs-secure section-name="Landing" action-name="delete">
                <gcms-modal template="admin.delete.html" controller="ModalDefaultCtrl"
                  content="quicklink" ok="delete" alt="Delete Link {{quicklink.id}}">
                 
	<span class="btn btn-default ng-scope" role="button"><i class="fa fa-trash"></i></span>
                </gcms-modal>
              </span-->
			 
		 
			  <tr>
            <td><gcms-modal template="admin.edit.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span> <a href="">EDIT</a></span>
  </gcms-modal>
			<a href="">Delete</a></td>
			<td>BE</td>
                <td>Beldium</td>
                <td>SOFIA</td>
                <td>5 POZITANO SQ</td>
              </tr>
			  
			  <tr>
            <td><gcms-modal template="admin.edit.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span> <a href="">EDIT</a></span>
  </gcms-modal>
			<a href="">Delete</a>
			<td>DE</td>
                <td>Germany</td>
                <td>SOFIA</td>
                <td>5 POZITANO SQ</td>
              </tr>
		
		  
   </tbody>
   </table>
   

  
    
	
  </div>
      

    
      
      
      
   
</div>

<!--div gcms-secure section-name="Administration" action-name="create" style="padding-bottom:20px">
  <gcms-modal template="admin.country.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
    <span class="btn btn-default" role="button"><i class="fa fa-plus"></i></span>
  </gcms-modal>
</div-->

<div class="panel panel-primary">
  <div class="panel-heading">Manage users and Roles</div>
  <div class="panel-body">

  <table class="table table-bordered table-striped table-highlight">
      <thead>
        <tr>
		<th><gcms-modal template="admin.country.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
    <span class="btn btn-default" role="button" style="margin-left: 31px;"><i class="fa fa-plus"></i></span>
  </gcms-modal></th>
        <th>Username (NTID)</th>
        <th>User Role</th>
        <th>Role Description</th>
        
      </tr>
	  </thead>
      <tbody>
        
          <tr>
            <td></td>
          <td><input type="text" class="form-control" value=""></td>
          <td><input type="text" class="form-control" value=""></td>
          <td><input type="text" class="form-control" value=""></td>
          
          
        </tr>
		<tr>
            <td><gcms-modal template="admin.edit.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add role">
    <span> <a href="">EDIT</a></span>
  </gcms-modal>
			<a href="">Delete</a>
			<td>RO</td>
                <td>ROMANIA</td>
                <td>SOFIA</td>
                
              </tr>
			  
			  
			 
   </tbody>
   </table>
</div>




 <!--div gcms-secure section-name="Ad-Hoc Reporting" action-name="create" style="padding-bottom:20px">
  <gcms-modal template="admin.role.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
    <span class="btn btn-default" role="button"><i class="fa fa-plus"></i></span>
  </gcms-modal>
</div--> 


<!-- <div class="panel panel-primary">
  <div class="panel-heading">Manage Countries and Templates</div>

  <div class="panel-body">
  
  
    <table class="table table-hover roles-table">
      
	   <thead>
                    <tr>
                      <th>+</th>
                        <th>country ISO Code</th>
                        <th>Country name</th>
                        <th>country contact</th>
                        <th>Identity Reviewers</th>
                        
                    </tr>
                </thead>
                <tbody data-ng-repeat="bp in profileModle.BusinessProfile">
               
                    
                    <tr>
                    
                        td><button type="btn btn-small" data-ng-click="selectTableRow($index, bp.profileId)">
                            EDIT</button><span><button type="btn">DELETE</button></span></td
                        <td>{{bp.profileId}}</td>
                        <td>{{bp.Name}}</td>
                        <td>{{bp.Phone}}</td>
                        <td>{{bp.Address}}</td>
                        <td>{{bp.storeCity}}</td>
                    </tr>
                    tr data-ng-show="dayDataCollapse[$index]">
                      <td colspan="8">
                      <table class="table table-hover table-condensed table-striped" >
                         <thead>
                                
                                          <tr>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td><ln>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                                
                                            </tr>
                           
                           
                         </thead>
                         
                         <tbody data-ng-repeat="ConsentAnnex in dataModel.ConsentAnnex">
                           <tr data-ng-if="ConsentAnnex.BusinessProfile.profileId==bp.profileId">
                             
                                                
                             
                             
                           </tr>
                           
                           
                         </tbody>
                        
                        
                        
                      </table>
                      
                      </td>
                    </tr
                   

                </tbody>
		    </table>
			</div>
			</div>
			<div gcms-secure section-name="Ad-Hoc Reporting" action-name="create" style="padding-bottom:20px">
  <gcms-modal template="admin.role.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
    <span class="btn btn-default" role="button"><i class="fa fa-plus"></i></span>
  </gcms-modal>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Manage Users and Roles</div>

  <div class="panel-body">
    <table class="table table-hover roles-table">
      
	   <thead>
                    <tr>
                      <th>+</th>
                        <th>Username(NTID)</th>
                        <th>User Role</th>
                        <th>Role Description</th>
                        
                        
                    </tr>
                </thead>
                <tbody data-ng-repeat="bp in profileModle.BusinessProfile">
               
                    
                    <tr>
                    
                        td><button type="btn btn-small" data-ng-click="selectTableRow($index, bp.profileId)">
                            EDIT</button><span><button type="btn">DELETE</button></span></td
                        <td>{{bp.profileId}}</td>
                        <td>{{bp.Name}}</td>
                        <td>{{bp.Phone}}</td>
                        <td>{{bp.Address}}</td>
                        <td>{{bp.storeCity}}</td>
                    </tr>
                    tr data-ng-show="dayDataCollapse[$index]">
                      <td colspan="8">
                      <table class="table table-hover table-condensed table-striped" >
                         <thead>
                                
                                          <tr>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td><ln>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                              <td>contry ISO code:<input type="text" class="form-control" value="" /></td>
                                                
                                            </tr>
                           
                           
                         </thead>
                         
                         <tbody data-ng-repeat="ConsentAnnex in dataModel.ConsentAnnex">
                           <tr data-ng-if="ConsentAnnex.BusinessProfile.profileId==bp.profileId">
                             
                                                
                             
                             
                           </tr>
                           
                           
                         </tbody>
                        
                        
                        
                      </table>
                      
                      </td>
                    </tr
                   

                </tbody>
		    </table>
		  
		  
		</div>
		</div>
	
 -->


