<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">Edit Country</h3>
</div>
<div class="modal-body">
<form name="administrationForm" ng-controller="ReviewCtrl" class="form-horizontal" novalidate>

  <div class="form-group">
    <label for="firstName" class="col-sm-3 control-label">Country ISO Code :</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-popup" id="isoCode" name="isoCode" ng-model="item.countries.isoCode" placeholder="" ng-readonly="true">
    </div>
	</div>
 <div class="form-group">
    <label for="role" class="col-sm-3 control-label">Country Name :</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-popup" id="name" name="name" ng-model="item.countries.name" placeholder="" ng-readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label for="role" class="col-sm-3 control-label">Country Contact :</label>
    <div class="col-sm-9">
      <input ng-maxlength="30" type="text" class="form-control form-popup" id="cntryContact" name="cntryContact" ng-model="item.cntryContact" placeholder="" >
    </div>
  </div>
   <label><span style="margin-left: 153px;"><i class="form-popup">Please add reviewer using ';(semicolon)' separator</i></span> </label>
  <div class="form-group">
    <label for="role" class="col-sm-3 control-label">Identity Reviewers :</label>
    <div class="col-sm-9">
       <textarea style="resize: none; width: 100%;" ng-model="item.cntryReviewer" rows="4" class="form-popup form-control"></textarea> 
    </div>
  </div>
  
	<label><span style="color:red;margin-left: 153px;">{{error}}</span> </label>
   
  

<div class="modal-footer">
<button class="btn btn-primary" ng-click="update(item)">Update</button>
  <button class="btn btn-warning" ng-click="cancel()" >Cancel</button>
  
 
</div>

</form>
</div>
