<div class="modal-header" style="background-color: #337ab7;
   color: white; padding: 5px;">
   <h3 class="modal-title" style="font-size: medium;">{{('Add Template' | gTranslate:translationData:'ADD_TMPL')}} </h3>
</div>
<div class="modal-body">
   <form name="adminTemplateForm" class="form-horizontal" novalidate >
      <div class="form-group">
         <label for="templateName" class="col-sm-4 control-label">{{('Template Name' | gTranslate:translationData:'TMPL_NM')}} :</label>
         <div class="col-sm-8">
            <input ng-maxlength="100" type="text" class="form-control form-popup" id="tmplname" name="tmplname" ng-model="item.tmpl_name" placeholder=" " required>
         </div>
      </div>
      <div class="form-group">
         <label for="templateDesc" class="col-sm-4 control-label">{{('Template Description' | gTranslate:translationData:'TMPL_DSC')}} :</label>
         <div class="col-sm-8">
         	<textarea id="tmpl_desc" name="tmpl_desc" rows="3" cols="50" style="resize:none" class="form-control form-popup" ng-model="item.tmpl_desc" required> 
          
            </textarea>
            <!-- <input type="text" class="form-control" id="tmpldesc" name="tmpldesc" ng-model="item.tmpl_desc" placeholder="" > -->
         </div>
      </div>
      <div class="form-group">
         <label for="templateType" class="col-sm-4 control-label">{{('Template Type' | gTranslate:translationData:'TMPL_TYP')}} :</label>
         <div class="col-sm-8 form-popup1">
            <select ng-model="item.tmpl_type" ng-click="foo();"  style=" margin-left: 0px; width: 40%; boder-radius: 30px;border-radius: 4px; height: 30px;" required>
               <option value="">{{('Please select' | gTranslate:translationData:'PLS_SLCT')}}</option>
               <option value="InCountry-HCO">{{('InCountry - HCO' | gTranslate:translationData:'INCTRY_HCO')}}</option>
               <option value="InCountry-HCP">{{('InCountry - HCP' | gTranslate:translationData:'INCTRY_HCP')}}</option>
               <option value="CrossBorder-HCO">{{('CrossBorder - HCO' | gTranslate:translationData:'CRSBRDR_HCO')}}</option>
               <option value="CrossBorder-HCP">{{('CrossBorder - HCP' | gTranslate:translationData:'CRSBRDR_HCP')}}</option>
              <!--  <option value="CrossBorder-HCO" ng-hide="item.dates_rages=='Y'">CrossBorder - HCO</option>
               <option value="CrossBorder-HCP" ng-hide="item.dates_rages=='Y'">CrossBorder - HCP</option> -->
            </select>
         </div>
      </div>
      <div class="form-group">
         <label for="consentCheck" class="col-sm-4 control-label">{{('Consent Required' | gTranslate:translationData:'COSNT_RQRD')}}? :</label>
         <div class="col-sm-8 form-popup1">
         <select ng-model="item.consentCheck" ng-click="foo();"  style=" margin-left: 0px;width: 40%; boder-radius: 30px;border-radius: 4px; height: 30px;" required>
               <option value="">{{('Please select' | gTranslate:translationData:'PLS_SLCT')}}</option>
               <option value="Y">{{('Yes' | gTranslate:translationData:'OPT_YES')}}</option>
               <option value="N">{{('No' | gTranslate:translationData:'OPT_NO')}}</option>
            </select>
            </div>
      </div>
     
      <div ng-if="item.consentCheck=='Y'">
      <label style="margin-left: 190px;">{{('Please use comma(,) separator to add multiple signature blocks; one page can contain maximum one signature block' | gTranslate:translationData:'SG_BLCK_INFO')}}</label>
       <div class="form-group" ">
         <label for="signPageNo" class="col-sm-4 control-label">{{('Signature Block Page No' | gTranslate:translationData:'SG_BLK_PG_NO')}} :</label>
         <div class="col-sm-8">
            <input type="text"  style=" max-width: 40%;"  class="form-control form-popup" id="signPageNo" name="signPageNo" ng-model="item.signPageNo" placeholder="" required >
         </div>
      </div>
       <div class="form-group" >
         <label for="consentPageNo" class="col-sm-4 control-label">{{('Consent Block Page No' | gTranslate:translationData:'COSNT_BLK_PG_NO')}} :</label>
         <div class="col-sm-8">
            <input type="number" style=" max-width: 40%;" min=1 max=10 class="form-control form-popup" id="consentPageNo" name="consentPageNo" ng-model="item.consentPageNo" placeholder="" required>
         </div>
      </div>
     </div>
     <div ng-if="item.consentCheck=='N'">
     <label style="margin-left: 190px;">{{('Please use comma(,) separator to add multiple signature blocks; one page can contain maximum one signature block' | gTranslate:translationData:'SG_BLCK_INFO')}}</label>
       <div class="form-group" ">
         <label for="signPageNo" class="col-sm-4 control-label label-pad">{{('Signature Block Page No' | gTranslate:translationData:'SG_BLK_PG_NO')}} :</label>
         <div class="col-sm-8">
            <input type="text"  style=" max-width: 40%;"  class="form-control form-popup" id="signPageNo" name="signPageNo" ng-model="item.signPageNo" placeholder="" required>
         </div>
      </div>
     
     </div>
      
      <div class="form-group">
         <label for="consentValidityPeriod" class="col-sm-4 control-label" style="padding-left:4px;">{{('Consent Validity Period' | gTranslate:translationData:'COSN_VLD_PRD')}} :</label>
         <div class="col-sm-8 form-popup1">
            <select ng-model="item.dates_rages" ng-click="foo();"  style=" margin-left: 0px; width: 40%; boder-radius: 30px;border-radius: 4px; height: 30px;" required>
               <!--  <option value="" ng-hide="item.tmpl_type=='CrossBorder-HCO' || item.tmpl_type=='CrossBorder-HCP'">Please select</option>
               <option value="Y" ng-hide="item.tmpl_type=='CrossBorder-HCO' || item.tmpl_type=='CrossBorder-HCP'">Y</option> -->
               <option value="">{{('Please select' | gTranslate:translationData:'PLS_SLCT')}}</option>
               <option value="Y">{{('Yes' | gTranslate:translationData:'OPT_YES')}}</option>
               <option value="N">{{('No' | gTranslate:translationData:'OPT_NO')}}</option>
            </select>
         </div>
      </div>
      <div ng-if="item.dates_rages=='Y'" > 
      <div class="form-group">
         <label for="template_validity_start_date" class="col-sm-4 control-label">{{('Template Validity StartDate' | gTranslate:translationData:'TMPL_VLD_STRT')}} :</label>
         <div class="col-sm-8 form-popup1">
         <!-- <input type="date" style="width: 138px;" class="form-control"  ng-model="item.validity_start_date" value={{item.validity_start_date}} is-open=""  close-text="Close" />
          --> <input
            ng-attr-placeholder="{{('Select a date' | gTranslate:translationData:'SLCT_DT')}}..."
             moment-picker
             locale="en"
             format="DD-MM-YYYY"
             ng-model="item.validity_start_date"
             ng-model-options="{ updateOn: 'blur' }"
           	 today="true"
           	 ng-required = "item.dates_rages=='Y'"
             start-view = "day" class="form-control"  style="max-width: 40%;"> 
              <!-- <input type="text" style="width: 138px;" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="item.validity_start_date" is-open="openedStart" ng-required="true" close-text="Close" />                          
              <button style="height:27px; margin-top: -44px; margin-left: 142px;" class="btn btn-default btn" ng-click="startDate()">
              <i class="fa fa-calendar"></i></button>   -->            
         </div>
         
      </div>
      <div class="form-group" >
         <label for="template_validity_end_date" class="col-sm-4 control-label">{{('Template Validity EndDate' | gTranslate:translationData:'TMPL_VLD_END')}} :</label>
         <div class="col-sm-8 form-popup1">
         <!-- <input type="date" style="width: 138px;" class="form-control"  ng-model="item.validity_end_date" value={{item.validity_end_date}} is-open=""  close-text="Close" />
          --> <input
            ng-attr-placeholder="{{('Select a date' | gTranslate:translationData:'SLCT_DT')}}..."
             moment-picker
             locale="en"
             format="DD-MM-YYYY"
             ng-model="item.validity_end_date"
             ng-model-options="{ updateOn: 'blur' }"
             today="true"
             ng-required = "item.dates_rages=='Y'"
             start-view = "day" class="form-control" style="max-width: 40%;">     
         
            <!-- <input type="text" style="width: 138px;" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="item.validity_end_date" min-date="item.validity_start_date" is-open="openedEnd" ng-required="true" close-text="Close" />                           
              <button style="height:27px; margin-top: -44px; margin-left: 142px;" class="btn btn-default b1" ng-click="endDate()">
              <i class="fa fa-calendar"></i></button>  --> 
              
         </div>
      </div>
     </div>     
      <div class="form-group">
         <label for="manualUpload" class="col-sm-4 control-label" style="padding-left: 2%;">{{('Manual Upload Notification Text' | gTranslate:translationData:'MNL_UPLD_TXT')}}:</label>
         <div class="col-sm-8">
         <textarea rows="3" cols="50" class="form-control form-popup" id="manualUpload" name="manualUpload"
      ng-model="item.manualUpload" placeholder="" style="resize: none" ></textarea>   
		</div>
      </div>
      
   </form>
</div>
<div class="modal-footer">
	<!-- <div ng-hide="item.dates_rages=='N'"> -->
		<button class="btn btn-primary" ng-click="ok()"
			ng-disabled="adminTemplateForm.$invalid">{{('Add Template' | gTranslate:translationData:'ADD_TMPL')}}</button>
		<button class="btn btn-warning" ng-click="cancel()">{{('Cancel' | gTranslate:translationData:'ACT_CNCL')}}</button>
	<!-- </div> -->

	<!-- <div ng-show="item.dates_rages=='N'">
		<button class="btn btn-primary" ng-click="ok()">Add Template</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div> -->
</div>