<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">Uploaded File details
  </h3>
  
</div>

<div class="modal-body">

<form name="myForm" > 
     <table class="table table-hover table-bordered table-striped table-highlight">
			<thead>
        		<tr style="background-color: #337ab7;
    color: white;">
          			<th>File Name</th>
          			<th >Status</th>
          			<th>Reason</th>
          
        		</tr>
      </thead>

				<tbody>
					<tr ng-repeat="c in item">
						<td>{{c.name}}</td>
						<td>{{c.status}}</td>
						<td>{{c.reason}}</td>
					</tr>
				</tbody>

			</table>
			
 </form>
</div>

<div class="modal-footer">
  
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>


