
<div class="modal-content" style="width: 600px;" ng-controller="ExcelCtrl">
	<div class="modal-header" style="background-color: #337ab7; color: white; padding: 5px;">
		<h3 class="modal-title" style="font-size: medium;">Cancel Confirmation</h3>
	</div>

	<div class="modal-body">
	<p>Are you sure you want to Cancel?</p>
		
	</div>

	<div class="modal-footer" style="padding:9px;">
		<button class="btn btn-primary" ng-click="cancel()">Yes</button>
		<button class="btn btn-warning" ng-click="cancel()">No</button>
	</div>

</div>
