<div class="modal-header">
  <h3 class="modal-title">Consent Details: {{item.profileType}}</h3>
</div>

<div class="modal-body">

    <table class="table table-hover roles-table">
                         <thead>
                                
                                          <tr>
                                                
                                                <th>Consent Code</th>
                                                <th>Consent Staus</th>
                                                <th>Consent Start Date</th>
                                                <th>Consent End Date</th>
                                                <th>Consent Event Name</th>
                                                <th>Created By</th>
                                                <th>View Doc</th>
                                                
                                            </tr>  
                         </thead>
                         <tbody>
                         <tbody data-ng-repeat="item.field in ConsentAttributes">
                          
                             <!-- <tr data-ng-if="field.bpid.id==bp.id">  -->
                               <tr>                 
                                                <td>{{field.updatedDate}}</td>
          										<td>{{field.consentstatus.consentName}}</td>
          										<td>{{field.consentstartdate}}</td>
          										<td>{{field.consentenddate}}</td>
          										<td>{{field.eventname}}</td>
         										<td>{{field.createdBy}}</td>
         										<td ng-href="">Link</td>
         										
                                                <td></td>
                             
                             
                           </tr>
                           
                         </tbody>
                         </tbody>
                         </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  
</div>

