<!-- Consent History view page -->
 <div class="modal-content" style="width:166%;
    left: -25%;">    
<div class="panel panel-primary table-responsive">
      <div class="panel-heading">Consent History</div>
      <div class="panel-body">
          
           <div ng-controller = "ProfileListCtrl">
          {{error}}
                  <table class="table table-hover ">
                  <div class="table-responsive">
                        <!-- st-set-filter="myStrictFilter" -->
                 
                        <table  class="table table-bordered table-striped table-highlight">
                              <thead>
                               <tr style="color:white;background-color:#337ab7;">
                                          <th>HCP/O Name</th>
                                         <th>Consent Updated Date</th>
                                   <th>Consent Code</th>
                                   <th>Consent Status</th>
                                   <th>Consent Start Date</th>
                                   <th>Consent End Date</th>
                                   <th>Consent Event Name</th>
                                   <th >Consent Updated Date</th>
                                   <th>Document</th>
                                   </tr>
                              </thead>
                                
                              <tbody data-ng-repeat="field in item">
                                <tr >
                                                                        <td>{{field.bpid.firstName}} {{field.bpid.lastName}}</td>
                                                					<td>{{field.consentstatus.updatedDate}}</td>
                                                					<td>{{field.consentstatus.consentStatusCode}}</td>
                                                                  <td>{{field.consentstatus.consentName}}</td>
                                                                  <td>{{field.consentstartdate}}</td>
                                                                  <td>{{field.consentenddate}}</td>
                                                                  <td>{{field.eventname}}</td>
                                                                   <td>{{field.updatedDate }}</td>
																   <td>
																  <div ng-if="field.annnexlocation==undefined">
																   <span style="color:red;">No Document Uploaded</span>
																  </div>
																  <div ng-if="field.annnexlocation!=undefined">
																  <div ng-show="true" ng-controller="FileManagerController">
																 	<a href="" ng-click="downloadCH(field)"> View </a>
																   </div>
																   </div>
																   </td>
						</tr>
                              </tbody>
                        </table>
              
              
      </div>

</table>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>
</div>
</div>

</div>






















<!-- <div class="panel panel-primary">
		 <div class="panel-heading"></div> 
		  <div class="panel-body">
		  
		  
		  
<table class="table table-hover ">

	<thead style="color:white;background-color:#337ab7;">
			 <tr>
			 
			 	<th>HCP/O Name</th>
			 	<th>Consent Updated Date</th>
                 <th>Consent Code</th>
                 <th>Consent Status</th>
                 <th>Consent Start Date</th>
                 <th>Consent End Date</th>
                 <th>Consent Event Name</th>
                 <th>Initiated By</th>
                 <th>Document</th>
			</tr>  
 	</thead>
		 <tbody data-ng-repeat="field in ConsentAttributes">
		  
					 <tr data-ng-if="field.bpid.id==id">  
					 
              									<td>{{field.bpid.firstName}} {{field.bpid.lastName}}</td>
                                                <td>{{field.consentstatus.updatedDate}}</td>
                                                <td>{{field.consentstatus.consentStatusCode}}</td>
          										<td>{{field.consentstatus.consentName}}</td>
          										<td>{{field.consentstartdate}}</td>
          										<td>{{field.consentenddate}}</td>
          										<td>{{field.eventname}}</td>
         										<td>{{field.createdBy}}</td>
                                                <td><a href="">View</a></td>
                             

                           </tr>
    
                 </tbody>

              </table>
              </div>
              </div>
                            -->
