<!-- Create Missing Profile -->
<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium; padding-left: 10px;">{{('Create missing profile' | gTranslate:translationData:'PRF_CRT_MSNG')}}</h3>
</div>
<div class="modal-body" >
<p style="font-size: 12px;">{{('Before requesting a new profile, please make sure you searched using multiple criteria' | gTranslate:translationData:'PRF_RQST_SRCH')}}</p>
	<div ng-controller = "ProfileListCtrl" style="margin-bottom: 105px;">
		<div style="color:maroon;"> 
			{{item.msg}} 
		</div>
            <form novalidate name="saveProfiles" class="form-vertical">
                 <legend style="color: black; font-size: small;">{{('General Details' | gTranslate:translationData:'PRF_GNR_DTLS')}}</legend>
                 
                <div class="form-group">
                    <label for="Profile Type" class="col-sm-4 control-label" style="font-size: 13px;text-align:right;">{{('Profile Type' | gTranslate:translationData:'PRF_TYP')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
					<!-- <select class="form-control" ng-model="item.profileTypeId" ng-change="erase(item)" class="drop-down" required><option ng-repeat="Group1 in Groupss">{{Group1.Name}}</option></select> -->                      
					<select class="form-control" ng-model="item.profileTypeId" ng-options="Group1.Name for Group1 in Groupss" ng-change="resetForm(item)" class="drop-down" required><option value="" ng-show="{{empty}}"></option></select>
                        <span class="help-block"></span>
                    </div>
                </div>
                
                <div class="form-group" ng-hide="item.profileTypeId.Name == 'HCO'">                	
                	<label for="text1" class="col-sm-4 control-label" style="font-size: 13px;text-align:right;">CCID:*</label>
                	<div class="col-sm-8 input-group input-group-sm" style="font-size: 13px;padding-left: 15px; padding-right: 14px;">
	                	<input id="text1" type="number" ng-model="uniqueTypeCodeCCID" class="form-control " onkeydown="return event.keyCode !== 69" name="text1" placeholder="{{('Insert CCID Here' | gTranslate:translationData:'INSRT_CCID_HR')}}...">
	                	<span class="input-group-btn">
	     				<button class="btn btn-primary" type="button" ng-click="validateCCID()" value="{{uniqueTypeCodeCCID}}">{{('Validate' | gTranslate:translationData:'PRF_VLDT')}}</button>
	      			</span>
                	</div>
                	<div>
	                	<label style="color:red; padding-left: 160px" ng-show="validationCCID=='false'">{{success}}</label>
				<label style="color:green;; padding-left: 160px" ng-show="validationCCID=='true'">{{error}}</label>
                	</div>
		</div>
			
		<div class="form-group" ng-hide="item.profileTypeId.Name == 'HCP'">
                	<label for="text2" class="col-sm-4 control-label" style="font-size: 13px;text-align:right;">NIT:*</label>
                	<div class="col-sm-8 input-group input-group-sm" style="font-size: 13px;padding-left: 15px; padding-right: 14px;">
                		<input id="text2" type="number" ng-model="uniqueTypeCodeNIT" class="form-control " onkeydown="return event.keyCode !== 69" name="text2"  placeholder="{{('Insert NIT Here' | gTranslate:translationData:'INSRT_NIT_HR')}}...">
                		<span class="input-group-btn">
     					<button class="btn btn-primary" type="button" ng-click="validateNIT()" value="{{uniqueTypeCodeNIT}}">{{('Validate' | gTranslate:translationData:'PRF_VLDT')}}</button>
      				</span>
                	</div>
                	<div>
                		<label style="color:red; padding-left: 160px" ng-show="validationNIT=='false'">{{success}}</label>
				<label style="color:green;; padding-left: 160px" ng-show="validationNIT=='true'">{{error}}</label>
                	</div>
		</div>
				 
                <div class="form-group" ng-model="new1Value" ng-hide="item.profileTypeId.Name == 'HCO'">
                    <label for="fname" class="col-sm-4 control-label" style="font-size: 13px;text-align:right;">{{('First Name' | gTranslate:translationData:'FRS_NM')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                   <input type="text" ng-maxlength="100" class="form-control" id="firstName" ng-model="item.firstName" ng-required="item.profileTypeId.Name == 'HCP'"/>   
                    </div>
                </div>
                <div class="form-group" ng-model="new1Value" ng-hide="item.profileTypeId.Name == 'HCO'">
                    <label for="lastname" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Last Name' | gTranslate:translationData:'LST_NM')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                       <input type="text" ng-maxlength="100" class="form-control" id="lastName" placeholder="" ng-model="item.lastName" ng-required="item.profileTypeId.Name == 'HCP'"/>
                    </div>
                </div>
                <div class="form-group" name="New1Value" ng-model="new1Value" ng-hide="item.profileTypeId.Name == 'HCP'">
                    <label for="oragname" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Organization Name' | gTranslate:translationData:'ORG_NM')}}:*</label>
                    <div class="col-sm-8"style="margin-bottom: 10px; height: 29px;">
                        <input type="text" ng-maxlength="500" id="organizationName" class="form-control" ng-model="item.organizationName" ng-required="item.profileTypeId.Name == 'HCO'"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="credtl" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Credential' | gTranslate:translationData:'PF_CRDNL')}}:*</label>
                    <div class="col-sm-8" style="height: 29px;">
                        <select class="form-control" ng-model="item.credential" class="drop-down"  required>
										<!-- <option value="">Select Credential</option> -->
                  			<!--<option ng-repeat="rep in credential" value="{{rep.credentialCode}}">{{rep.credentialDesc}}</option>  -->
                  			<option ng-repeat="rep in credential" >{{rep.credentialDesc}}</option>
               			</select>
                    </div>
                </div>
				 <legend style="color: black; font-size: small;">{{('Professional Details' | gTranslate:translationData:'PRF_DTLS')}}</legend>
				 <div class="form-group">
                    <label for="Procity" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Profile City' | gTranslate:translationData:'PRF_CTY')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" ng-maxlength="100" id="city" placeholder="" class="form-control" ng-model="item.city" required/>
                    </div>
                </div>
				<div class="form-group">
                    <label for="Procnt" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Profile Country' | gTranslate:translationData:'PRF_CTRY')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                        <select class="form-control" ng-model="item.country" class="drop-down" ng-disabled="item.readOnly" required>
                  			<option ng-repeat="contry in counties |filter : efpiaFilter">{{contry.name}}</option>
               			</select>               			
                    </div>
                </div>
				<div class="form-group" ng-model="new1Value">
                    <label for="Prosp" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Profile Specialty' | gTranslate:translationData:'PRF_SPLT')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" ng-maxlength="100" id="specility" placeholder="" class="form-control" ng-model="item.specility" required/>
                    </div>
                </div>
				<div class="form-group">
                    <label for="Proadd" class="col-sm-4 control-label" style="font-size: 13px; text-align:right;">{{('Profile Address' | gTranslate:translationData:'PRF_ADRS')}}:*</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" ng-maxlength="1024" id="address" placeholder="" class="form-control" ng-model="item.address" required>
                        <input type="text" ng-show="false" ng-maxlength="10" id="region" placeholder="" class="form-control" ng-model="item.regionId" >
                    </div>
                </div>
                 <!-- /.form-group -->
              <legend style="color: black; font-size: small;">{{('Other Details' | gTranslate:translationData:'OTHR_DTLS')}}</legend>
			  <div class="form-group">
                    <label for="Proadd" class="col-sm-4 control-label" style="font-size: 13px;margin-top: 10px; text-align:right;">{{('Note for reviewer' | gTranslate:translationData:'NT_FR_RVWR')}}:</label>
                    <div class="col-sm-8" style="margin-bottom: 10px; height: 29px;">
                        	<textarea id="notes" ng-maxlength="1000" class="form-control" rows="2" style="resize: none" ng-model="item.notes"></textarea>
                    </div>
                </div>  
             
	<span style="float: right;margin-top: 18px;margin-right: 14px;">
	
	<button class="btn btn-primary" ng-click="ok()" ng-show="validationCCID=='true'" ng-disabled="saveProfiles.$invalid">{{('Create Profile' | gTranslate:translationData:'CRT_PRFL')}}</button>
	<button class="btn btn-primary" ng-click="ok()" ng-show="validationNIT=='true'" ng-disabled="saveProfiles.$invalid">{{('Create Profile' | gTranslate:translationData:'CRT_PRFL')}}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{('Cancel' | gTranslate:translationData:'ACT_CNCL')}}</button>	
	</span>
	</form>	
	</div>
	
</div>	

