<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">Identity Status</h3>
</div>
<div ng-controller="identityCtrl">
<div class="modal-body">
<form name="administrationForm" class="form-horizontal" novalidate>

  <table >
					<tr>
						<td style="padding-bottom: 8px;">
						
						If HCP/HCO does not exist, please manually create the
							profile in TR. Once you have the TR ID of the created
							profile,please enter it in the next text box and press validation
							button. If the profile is found in TR status will change
							to validated and then you can press the Approve button to
							complete the activity.
							
						</td>
					</tr>
					
					<tr>	
						<td>
						<div class="col-sm-6" style="margin-left: 44%;">
						<input type="text" ng-model="item.bpid" placeholder=" Enter TRID" style="width: 92%;">
                      
						<button class="btn btn-primary" ng-click="validate(item)"
						value="{{item.bpid}}" style="margin-left: 94%;margin-top: -17%;">Validate
						</button> <!-- <span>
					<label style="color:green" ng-show="validation=='Validated'">{{validation}}</label>
					<label style="color:red" ng-show="validation=='Not Validated'">{{validation}}</label> </span> -->
					<div>
					<label style="color:green" ng-show="validation=='true'">{{success}}</label>
					<label style="color:red" ng-show="validation=='false'">{{error}}</label> </div>
						 </div>
						 </td>
    		       </tr>

			</table>
			
			</form>
			
</div>
   
  

<div class="modal-footer" style="padding: 10px;">
  <button class="btn btn-primary" ng-click="updateApprove(item)" value="{{item.identity.id}}" ng-disabled="validation=='false' || validation==''">Approve</button>
  <button class="btn btn-primary" ng-click="updateDismiss(item)" value="{{item.identity.id}}" ng-disabled="validation=='false' || validation==''">Reject</button>
  <button class="btn btn-warning" ng-click="cancel()" >Cancel</button>
</div>

</div>
