
<div class="modal-header"
	style="background-color: #337ab7; color: white; ">

	<h3 class="modal-title">Identity Approve/Reject</h3>
</div>

   <div class="col-sm-24">
<div class="modal-body">
 <form name="identityform"  novalidate  class="form-horizontal">
	<div class="panel panel-primary">
		<div ng-controller="identityCtrl">
			<table class="table table-hover">
				<tbody>
					
						<td >
						<div class="col-sm-12">
						If HCP/HCO does not exist,please manually create the
							profile in TR. <br>  Once you have the TR ID ofthe created
							profile,please enter it <br>in the next text box and press validation
							button. <br> If the profile is found in TR status will change
							to validated <br>  and then you can press the Approve button to
							complete the acitivity.
							</div>
						</td>
						
						<td>
						<div class="col-sm-6">
						<input type="text" ng-model="item.bpid" style="margin-left: -5px;margin-top: -95px;margin-right: -60px;">
                      
						<button class="btn btn-primary" ng-click="validate(item)"
						value="{{item.bpid}}" style=" margin-left: 122px;margin-top: -43px;margin-right: -46px;">Validate
						</button>
					<span style="color:green" ng-show="validation=='Validated'">{{validation}}</span>
					<span style="color:red" ng-show="validation=='Not Validated'">{{validation}}</span>	
						 </div>
						 </td>
    		                      
				</tbody>

			</table>
		<div  style="float: right;
    margin-top: -18px;">
   <td><button class="btn btn-primary"
								ng-click="updateApprove(item)" value="{{item.identity.id}}" style="    margin-left: 7px;margin-top: 21px;margin-bottom: 22px;">Approve</button>
								</td>
							<td>
								<button class="btn btn-primary" ng-click="updateDismiss(item)"
								value="{{item.identity.id}}" style="    margin-left: 2px;margin-top: 20px;margin-bottom: 22px;">Reject</button>
							</td>	
		<td><button class="btn btn-primary" ng-click="cancel()" ng-disabled="identityform.$invalid">
		Cancel</button></td>
		</div>
	</div>
	</div>
	
	
	</form>
	</div>
	
</div>

</div>




