
<div class="modal-content" style="width: 600px;" ng-controller="ExcelCtrl">
	<div class="modal-header" style="background-color: #337ab7; color: white; padding: 5px;">
		<h3 class="modal-title" style="font-size: medium;">Send All Confirmation</h3>
	</div>

	<div class="modal-body">
	<p>Are you sure you want to send email to all recipients?</p>
		
	</div>

	<div class="modal-footer" style="padding:9px;">
		<button class="btn btn-primary" ng-click="sendAll(item)">Yes</button>
		<!-- <gcms-modal template="cancel.send.email.html"
			controller="ModalDefaultCtrl" alt="send Email">
			<button class="btn btn-primary" ng-click="sendAll(item)">Yes</button>
			</gcms-modal> -->
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>

</div>
