<div class="modal-header"
	style="background-color: #337ab7; color: white; padding: 5px;">
	<h3 class="modal-title">Revoke Consent</h3>
</div>
<div class="modal-body">

	<form name="taskForm" class="form-horizontal" novalidate ng-controller ="FileManagerController">

		<div class="form-group"
			ng-if="!item.consannexid.bpid.profileType || item.consannexid.bpid.profileType === 'HCP'">
			<label for="hcp0name" class="col-sm-3 control-label">HCP/O
				Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="hcp0name"
					value="{{item.consannexid.bpid.lastName}} {{item.consannexid.bpid.firstName}} "
					ng-readonly="true">
			</div>
		</div>

		<div class="form-group"
			ng-if="!item.consannexid.bpid.profileType || item.consannexid.bpid.profileType === 'HCO'">
			<label for="hcp0name" class="col-sm-3 control-label">HCP/O
				Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="hcp0name"
					ng-model="item.consannexid.bpid.organisationName"
					ng-readonly="true">
			</div>
		</div>

		<div class="form-group">
			<label for="eventName" class="col-sm-3 control-label">Event
				Name:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="eventName"
					ng-model="item.consannexid.eventname" ng-readonly="true">
			</div>
		</div>

		<div class="form-group">
			<label for="consentStatus" class="col-sm-3 control-label">Consent
				Status:</label>

			<div class="col-sm-9">
				<gcms-lov list="consentType"
					value="item.consannexid.consentstatus.id" ng-disabled="true"></gcms-lov>
			</div>
			
		</div>



		<div class="form-group">
			<label for="consentstartDate" class="col-sm-3 control-label">Consent
				Start Date:</label>
			<div class="col-sm-9">
				<input id="consentStartDate" name="consentStartDate"
					class="form-control"
					ng-model="item.consannexid.consentstartdate | date:'dd/MM/yyyy'"
					ng-readonly="true" />

			</div>
		</div>
		<div class="form-group">
			<label for="consentendDate" class="col-sm-3 control-label">Consent
				End Date:</label>
			<div class="col-sm-9">
				<input id="consentEndDate" name="consentEndDate"
					class="form-control"
					ng-model="item.consannexid.consentenddate | date:'dd/MM/yyyy'"
					ng-readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label for="revocationReason" class="col-sm-3 control-label" style="padding-left: 9px;">Reason
				for Revocation:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="revocationReason"
					ng-model="item.consannexid.revocationReason">
			</div>
		</div>
		
		
		<input type="file" class="form-control" ng-file="uploadFileList" autofocus="autofocus" onchange="angular.element(this).scope().uploadFiles()" />
          <!-- <div ng-include data-src="'error-bar'" class="clearfix"></div> -->
          <div ng-show="apiMiddleware.inprocess">
            <span class="label label-warning">{{"uploading" | translate}} ...</span>
          </div>
        
        {{item.consannexid.annnexlocation}}
		<!-- <gcms-modal template="recipient.upload.html"
			controller="ModalDefaultCtrl" ok="upload" content="uploader"
			alt="Upload images"> <span class="btn btn-default"
			role="button">Upload Proof of Revocation</span> </gcms-modal> -->


	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Revoke</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
