<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">Reassign
                         
  </h3>
  
</div>
<form name="taskForm"  novalidate  class="form-horizontal" ng-controller = "TaskCtrl">
<div class="modal-body">
    <div class="form-group">
    <label for="consannexid.eventname" class="col-sm-3 control-label">Current
					Task Owner :</label>
    <div class="col-sm-9">
      <lebel class="form-control" >{{item.assignedto.firstName}}{{item.assignedto.lastName}} ({{item.assignedto.userName}}) </lebel>
    </div>
  </div>
  <div class="form-group" >
    <label for="consannexid.pocode" class="col-sm-3 control-label">New
					Task Owner :</label>
    <div class="col-sm-9">
     
					<select class="col-sm-12"  ng-model="item.assignedto" ng-change="onCategoryChange(item.assignedto)" ng-options="useritr.userName for useritr in user" required>
					<option  value="" ng-show="{{empty}}"> --- Please Select---</option></select> 
					 </div>



      

   
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="count=='null'">Confirm</button>
  <button class="btn btn-warning" ng-click="cancel()" >Cancel</button>
</div>
</form>
