<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">{{('Reassign' | gTranslate:translationData:'REASSGN')}}
                         
  </h3>
  
</div>
<form name="reasonForm"  novalidate  class="form-horizontal" ng-controller = "TaskCtrl">

<div class="modal-body">
    <div class="form-group">
    <label for="consannexid.eventname" class="col-sm-3 control-label">{{('Current Task Owner' | gTranslate:translationData:'CRNT_TSK_OWNR')}} :</label>
    <div class="col-sm-9">
      <lebel class="form-control form-popup" >{{item.assignedto.firstName}}{{item.assignedto.lastName}} ({{item.assignedto.userName}}) </lebel>
    </div>
  </div>
  <div class="form-group" >
  
    <label for="consannexid.pocode" class="col-sm-3 control-label">{{('New Task Owner' | gTranslate:translationData:'NW_TSK_OWNR')}} :</label>
    <div class="col-sm-9">
     
					<select class="form-control form-popup"  class="col-sm-12" class="drop-receipi" ng-model="item.changedowner" ng-change="onCategoryChange(item)" ng-options="useritr.userName for useritr in user |orderBy:'userName'" required>
					<option  value="" ng-show="{{empty}}"> --- {{('Please Select' | gTranslate:translationData:'PLS_SLCT')}} ---</option></select> 
					  
					
					 </div>
	</div>


<div class="form-group" ng-show="count!='null'" >
    <label for="reassignReason" class="col-sm-3 control-label">{{('Reassigning Reason' | gTranslate:translationData:'REASGN_RSN')}} :</label>
    <div class="col-sm-9 form-popup1">
       <textarea class="form-control" style="resize: none" ng-model="item.reassignReason" rows="2" cols="66" required></textarea> 
    </div>  
  </div>


   
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="count=='null'|| reasonForm.$invalid">{{('Confirm' | gTranslate:translationData:'ACT_CNFRM')}}</button>
  <button class="btn btn-warning" ng-click="cancel()" >{{('Cancel' | gTranslate:translationData:'ACT_CNCL')}}</button>
</div>
</form>
