<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;">Undelete Task : {{item.consannexid.bpid.firstName}} {{item.consannexid.bpid.lastName}}</h3>
</div>
<div class="modal-body">
<p>Are you sure  you want to undelete this task?</p>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="ok()">Confirm</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

 

	
	