
<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 4px; padding-left: 13px;">
  <h3 class="modal-title" style="font-size: medium;">Delete</h3>
  <span> Task ID: {{item.id}} </span>
</div>
<div class="modal-body">
<form name="taskReassignForm" novalidate>
<div class="row">

<div class="col-sm-5">
  <p>Please provide the reason of deleting this task:</p>
</div>

<div class="col-sm-7">

<select ng-model="group.name" ng-options="Group.Name for Group in Groups" ></select>
    <div class="col-md-4" ng-show="group.name.Value == 'new'">
         <br>
		<textarea rows="4" cols="40" name="comment" form="usrform" name="NewValue" ng-model="item.deleteReasonDesc" style="margin-top:20px;" >
Enter text here...</textarea>
      
    </div>
</div>
</form>
</div>
</div>
 

  <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="taskReassignForm.$invalid">Delete</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
 

	
	