<div class="modal-content" style="width: 140%;">
	<div class="modal-header">
		<h3 class="modal-title" style="font-size: medium; padding-left: 10px;">Set
			Additional details</h3>
	</div>
	<div class="modal-body table-responsive">
		<p style="font-size: 12px;">It is very important to give us the
			required details. Event Name allows us to match multiple payments to
			the same profile. PO Code and ACM Code will give us the ability to
			identify the right invoices. Enter this information in the proper
			columns of the below list. Once done press Save Changes button.</p>
		<gcms-annex></gcms-annex>
	</div>

	<div class="modal-footer">
		<button class="btn btn-warning" ng-click="cancel()">Close</button>
	</div>

</div>
