<div class="modal-content" style="width:166%;
    left: -25%;">
<div class="modal-header" style="background-color: #337ab7;
    color: white; padding: 5px;">
  <h3 class="modal-title" style="font-size: medium;padding-left: 10px;">Set Additional details</h3>
</div>
<div class="modal-body">
	<p style="font-size: 12px;">
	It is very important to give us the required details. Event Name allows us to match multiple payments to the same profile. PO Code and ACM Code will give us the ability to identify the right invoices. 
Enter this information in the proper columns of the below list.
	</p>
	<div ng-controller="ProfileListCtrl">	
 <form name="generateAnnex">
   <table class="table table-bordered table-striped table-highlight">
  <div class=" class="panel panel-primary table-responsive">
	<thead style="background-color:#337ab7;color:white;">
	<tr  class="panel-title" style="font-size: 14px;">
	<th style="font-size: 12px; font-family: sans-serif; ">#</th>
	<th style="font-size: 12px; font-family: sans-serif;">Last Name/Organization Name</th>
	<th style="font-size: 12px; font-family: sans-serif;">First Name</th>
	<th style="font-size: 12px; font-family: sans-serif;">Event Description*</th>
	<th  ng-hide="true" style="font-size: 12px; font-family: sans-serif;">TR ID*</th>
	<th style="font-size: 12px; font-family: sans-serif;">PO Code</th>
	<th style="font-size: 12px; font-family: sans-serif; padding-bottom: 22px;">ACM/ InterAct Code</th>
	<th ng-hide="item.setDates" style="font-size: 12px; font-family: sans-serif;">Consent Start Date</th>
	<th ng-hide="item.setDates" style="font-size: 12px; font-family: sans-serif;"> Consent End Date</th>
	<th ng-show="item.setDates" style="font-size: 12px; font-family: sans-serif;"> Event End Date</th>
	<th>Action </th>	
    </tr>
	</thead>
	
	<tbody>
	<tr ng-repeat = "i in item.checkedIds"  >
	<td><input type="checkbox" ng-model="item.checkbox[i.id]" class="recipient-checkbox"></td>			
 	<td ng-model="item.request[i.id].lastName" >{{i.lastName}}{{i.organisationName}}</td>
    <td ng-model="item.request[i.id].firstName">{{i.firstName}}</td>	             
    <td><input type="text" id="eventname" placeholder="" class="form-control" ng-model="item.request[i.id].eventname" required style="width: 114px;"></td>
    <td ng-model="item.request[i.id].id" ng-hide="true" >{{i.id}}</td>
	<td><input type="text" id="pocode" placeholder="" ng-model="item.request[i.id].pocode" class="form-control" ng-required='!item.request[i.id].acmcode' style="width: 75px;"> </td>
 	<td><input type="text" id="acmcode" placeholder="" ng-model="item.request[i.id].acmcode" class="form-control" ng-required='!item.request[i.id].pocode'></td>
    	<td ng-hide="item.setDates">
            <input
            placeholder="Select a date..."
             moment-picker="item.request[i.id].consentstartdate"
             locale="en"
             format="DD-MM-YYYY"
             ng-model="item.request[i.id].consentstartdate"
             ng-model-options="{ updateOn: 'blur' }"
             start-view = "day"
             start-date="item.request[i.id].consentstartdate" style="padding-left: 4px;">            
             </td>
              <td ng-hide="item.setDates">
              <input
             placeholder="Select a date..."
             moment-picker="item.request[i.id].consentenddate"
             locale="en"
             format="DD-MM-YYYY"
             ng-model="item.request[i.id].consentenddate"
             ng-model-options="{ updateOn: 'blur' }"
             start-view = "day"
             start-date="item.request[i.id].consentenddate">                          
            </td> 
            <td ng-show="item.setDates">
              <input
             placeholder="Select a date..."
             moment-picker="item.request[i.id].eventEndDate"
             locale="en"
             format="DD-MM-YYYY"
             ng-model="item.request[i.id].eventEndDate"
             ng-model-options="{ updateOn: 'blur' }"
             start-view = "day"
             start-date="item.request[i.id].eventEndDate"
             ng-required = "item.setDates">                          
            </td> 
            <td ng-model="item.i.id"><button  class="btn btn-primary" ng-click="copy(item,item.request[i.id])">Same for all</button></td>
 	</tr>
	</tbody>	
	</div>
	</table>	
</form>	
<div class="modal-footer">
	<span><button class="btn btn-primary" ng-click="ok()" ng-disabled="generateAnnex.$invalid">Generate Consent Annex</button>	
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</span>
</div>
	</div>
</div>
</div>
	
	
	