<h3 class="clearfix uploads">

  <div id="title" class="pull-left" style="font-size: 14px;margin-bottom:15px;
    margin-top: -15px;">
    Below are the tasks associated to your identity. You are requested to upload the scanned EFPIA Cross-Border Consent forms you collected from HCPs or HCOs you interacted with.
  </div>

  

</h3>
 
 
<div class="panel panel-primary" > 
  <div class="panel-heading">Upload your documents-Automatic Match</div>
  <div class="container">
  <div class="row">
   <div class="col-sm-6">
  <div class="panel-body">
   <div >
    <gcms-modal template="recipient.upload.html" controller="ModalDefaultCtrl" ok="upload" content="uploader" alt="Upload images">
      <span class="btn btn-default" role="button">Select PDF file(s) to upload</span>
    </gcms-modal>
   
	</div>

  </div>
  </div>
    <!-- ngIf: alerts.length > 0 -->
     
    <div ng-show="successAlert" class="alert alert-success alert-dismissible ng-hide" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true"></span></button>
	  
      
    </div>
	<div class="col-sm-5">
  <ul>
     <li>Based on the QR code printed on the top-right corner of each form, the platform 
     will try to <b>automatically match the documents with the task.</b></li>
     <li>A succesful match will remove your task. if unsuccesful, the task will remain and you will<br>
     manually attach the signed document.</li>
	 <li>There are <b>scnned cpies</b> of the EFPIA cross-border consent forms<b>signed by the HCP/HCO</b><br>
	 </li>
     </ul>
  </div>
  </div>
      
    </div>
</div>
<div class="panel panel-primary" >
  <div class="panel-heading">Upload your documents - Manual Match</div>
  <div class="panel-body">

    <div ng-if="alerts.length > 0">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div ng-show="successAlert" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>
        <i class="fa fa-check"></i>
        <span ng-if="uploader.queue.length > 1">{{uploader.queue.length}} Files</span>
        <span ng-if="uploader.queue.length === 1">1 File</span>
        <span>Uploaded Successfully</span>
      </strong>
    </div>


    


<table class="table table-hover " >
	<div class="table-responsive">
	<!-- st-set-filter="myStrictFilter" -->
    <table st-set-filter="customFilter" st-table="displayedCollection"  st-safe-src="TaskAttributes"  class="table table-bordered table-striped table-highlight">
      	<thead >
      	<tr style="color:white;background-color:#337ab7;">
        <th>Action</th>
        <th>Task ID</th>
        <th>TR ID</th>
        <th st-sort="consannexid.bpid.lastName">Last Name/Org Name</th>
        <th st-sort="consannexid.bpid.firstName">First Name</th>
        <th st-sort="consannexid.profilecountry.name">Profile Country</th>
        <th st-sort="consannexid.eventname">Event Name</th>
        <th>Consent Status</th>
		<th st-sort="con.updatedDate">Consent Updated Date</th>
		<th>Task Status</th>
		<th>Initiated By</th>
		<th>Document Upload </th>
		<th>Activity</th>
		</tr>
		
		<tr>
		  <th></th>
		  <th><input st-search="" placeholder=" " class="form-control" type="search"/></th>
		  <th><input st-search="" placeholder=" " class="form-control" type="search"/></th>
          <th><input st-search="consannexid.bpid.lastName" placeholder=" " class="form-control" type="search"/></th>         
          <th><input st-search="consannexid.bpid.firstName" placeholder=" " class="form-control" type="search"/></th>
          <th><input st-search="consannexid.profilecountry.name" placeholder=" " class="form-control" type="search"/></th>
          <th><input st-search="consannexid.eventname" placeholder=" " class="form-control" type="search"/></th> 		  
  		  <th><input st-search="" placeholder=" " class="form-control" type="search"/></th>
  		  <th><input st-search="" placeholder=" " class="form-control" type="search"/></th>
		  <th><st-select-distinct  collection="TaskAttributes" predicate="taskstatus"></st-select-distinct></th>
          <th><input st-search="" placeholder="" class="form-control" type="search"/></th>
          <th></th>
 		  <th></th>
     	</tr>
      </thead>
      <tbody>
     	
        <tr data-ng-repeat="con in displayedCollection"  ng-switch on="con.taskstatus">      
        <!-- <tr data-ng-repeat="con in TaskAttributes | filter: search:strict">	 -->			
          	<td> 
          				<gcms-modal template="task.update.html" controller="ModalDefaultCtrl"
              			content="con" ok="update" alt="Edit Task {{con.id}}">
              			<span class="glyphicon glyphicon-pencil" style="color:#337ab7;" ></span>
            			</gcms-modal>
            			<gcms-modal template="task.delete.html" controller="ModalDefaultCtrl" 
            			content="con" ok="delete" alt="Delete Task {{con.id}}">
  						 <span class="glyphicon glyphicon-trash" style="color:#337ab7;" ></span>
            </td>
            			<td>{{con.id}}</td>
            			<td>{{con.consannexid.bpid.id}}</td>
          				<td>{{con.consannexid.bpid.lastName}}</td>
                        <td>{{con.consannexid.bpid.firstName}}</td>
                        <td>{{con.consannexid.profilecountry.name}}</td> 
                        <td>{{con.consannexid.eventname}}</td>                
                        <!-- <td>{{con.consannexid.consentstatus.consentName}}</td>  -->
                        <td>
                        	<gcms-idname id="con.consannexid.consentstatus.id" list="consentType"></gcms-idname>
                        </td>
                        <td>{{con.updatedDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{con.taskstatus}} </td>
                        <td>{{con.createdBy}}</td>
            <td >
    					<button class="btn btn-default btn-sm" ng-show="config.allowedActions.upload" ng-click="modal('uploadfile')">
        				<i class="glyphicon glyphicon-cloud-upload"></i> {{"upload_files" | translate}}
     				    </button>                    

                        
            </td>
            <td>
                    <div ng-switch="con.taskstatus">
  						<div ng-switch-when="INCOMPLETED">
  							<gcms-modal template="task.reassign.html" controller="ModalDefaultCtrl"
                  			 content="con" ok="reassign" alt="{{con.id}}">
							<!-- <span class="glyphicon glyphicon-refresh" style="color:#337ab7;  margin-left: 20px; margin-top: 8px;" ></span> -->
							<span>Reassign</span>
                			</gcms-modal>
  						</div>
  						<div ng-switch-when="COMPLETED">
      						<gcms-modal template="task.revoke.html" controller="ModalDefaultCtrl"
                  			content="con" ok="revoke" alt="{{con.id}}">
              				<!-- <span class="glyphicon glyphicon-retweet" style="color:#337ab7;  margin-left: 20px; margin-top: 8px;" ></span> -->
              				<span>Revoke</span>
			  				<a href="">DLU-P</a>
							<a href="">DLU-T</a>
                			</gcms-modal>
  						</div>
  						<div ng-switch-when="DELETE">
     						<gcms-modal template="task.undelete.html" controller="ModalDefaultCtrl"
                  			content="con" ok="undelete" alt="{{con.id}}">
              				<span class="glyphicon glyphicon-undo" style="color:#337ab7;  margin-left: 20px; margin-top: 8px;" ></span>
                			</gcms-modal>
  						</div>
					</div>
                       
           </td>
			
        </tr>
        
   </tbody>
	<tfoot>
			<tr>
				<td colspan="13" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
				</td>
			</tr>
	</tfoot> 
   </table>
 </div>
 </table>
 
  </div>
</div>
</div>





 