<h3 class="clearfix uploads">
	<div id="title" class="pull-left"
		style="font-size: 12px; margin-bottom: 15px; margin-top: -15px;">
		Below are the tasks associated to your identity. <strong>You
			are requested </strong>to <strong>upload</strong> the scanned EFPIA
		Cross-Border Consent forms you collected from HCPs or HCOs you
		interacted with.
	</div>


</h3>
<!--  <div ng-controller="FileManagerController" ng-init="login()"></div>  -->

<div class="panel panel-primary">
	<div class="panel-heading">Upload your documents-Automatic Match</div>
				<div class="panel-body" ng-controller="BulkCtrl">
						 Based on the QR Code printed on the top-right corner of each form,
						  the platform will try to automatically match the documents with the task.
						   You can upload one or multiple files at once. In case the automatic match fails,
						    you still have the possibility to manually upload documents and set properties in the below section.
						
						<div style="margin-top: 9px;padding:3px;">
                   <span>{{uploader.queue.length}} File(s) selected.</span>
                    <span style="float:right;" class="label label-default">The system accepts only PDF files</span>
                </div>					
				<table style="width:100%">

                    <tr>
                        <td>
                             <div class="progress"> 
                                <div class="progress-bar" role="progressbar"
									ng-style="{ 'width': uploader.progress + '%' }"
									 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                             </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label class="fileContainer">
                           <button type="button" class="btn btn-primary ">Select Files...</button>
                            <input type="file"
							ngf-select="" ng-model="picFile" name="file"
							ngf-pattern="'application/pdf'" nv-file-select ngf-max-size="20MB" ngf-min-height="100" 
							uploader="uploader" multiple="" accept="application/pdf">
							</label>
						 	<a href="" ng-if="uploader.getNotUploadedItems().length"  ng-init="uploader.uploadAll()" >Uploading...</a>						 							 
						  	<a href="" ng-if="uploader.progress==100 && !uploader.isUploading"  ng-init="upload()"><span class="fa fa-spin fa-spinner "></span>
						 	 Validating...</a>						  						  	
							<gcms-modal template="bulk.upload.html"
							controller="ModalDefaultCtrl" ok="" content="Result"
							alt="Upload images"> 
							<button ng-show="a == true" class="btn btn-default2">View Upload Status</button></gcms-modal>

						   
                        </td>
                    </tr>
                </table>

				</div>
			</div>

 <div class="panel panel-primary table-responsive">
	<div class="panel-heading " >Upload your documents - Manual Match</div>
	<div class="panel-body">

		<!-- <span style="color:green">{{success}}</span>
    	<span style="color:red">{{error}}</span>  -->
		
				<!-- st-set-filter="myStrictFilter" st-set-filter="customFilter" st-table="displayedCollection"
					st-safe-src="TaskAttributes"-->
				<table 
					st-table="TaskAttributes"
					st-pipe="callServer" 
					class="table table-hover table-condensed table-bordered table-responsive taskTable">
					<thead>
						<tr style="color: white; background-color: #337ab7;">
							<th ng-hide="status=='DELETED'">Action</th>
							<th style="width:12%;"st-sort="payercountry">Payer Country</th>
							<th style="width:13%;"st-sort="lastname">Last/Org Name</th>
							<th style="width:13%;" st-sort="firstname">First Name</th>
							<th style="width:12%;"st-sort="profilecountry">Profile Country</th>
							<th style="width:18%; st-sort="eventname">Event Name</th>
							<th style="width:12%;"st-sort="consentstaus">Consent Status</th>
							<th style="width:10%;"st-sort="updateddate" st-sort-default="reverse">Updated Date</th>
							<th style="width:18%; st-sort="initiatedby">Task Owner</th> 
							<th style="width:6%;"st-sort="taskstatus">Task Status</th>
							<th ng-hide="status=='DELETED'">Document</th>
							<th style="width:10%;" ng-hide="loggedInUserRoleId !='5' && status!='COMPLETED' " 
								>Activity								
								</th>
							<th ng-show="loggedInUserRoleId !='5'&& status =='DELETED'">Activity</th>						 
							<!-- <th ng-show="status=='COMPLETED'">DLU P/T</th> -->
								
						</tr>
						<tr>
							<th ng-hide="status=='DELETED'"></th>
							<th><input st-search="payercountry" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="lastname" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="firstname" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="profilecountry" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="eventname" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="consentstaus" placeholder=""
								class="form-control" type="search" /></th>
							<th><input st-search="updateddate" placeholder=""
								class="form-control" type="search" /></th>
								<th><input st-search="initiatedby" placeholder=""
								class="form-control" type="search" /></th> 
							<th style="width:6%;"><select st-input-event="change keydown" st-search="taskstatus" style=" padding: 6px 3px;height: 27px;">
									<option value="INCOMPLETE">Incomplete</option>
									<option value="COMPLETED">Completed</option>
									<option value="DELETED">Deleted</option>
							</select> 							
														
							</th>							 
							<th ng-hide="status=='DELETED'"></th>
							<th ng-hide="loggedInUserRoleId !='5' && status!='COMPLETED' " >
							<!-- <input style="margin-left:17px;" ng-hide="status!='COMPLETED'" type="checkbox" ng-model="check" />  -->
							</th>
							<th ng-show="loggedInUserRoleId !='5'&& status =='DELETED'"></th>
							<!-- <th ng-show="status=='COMPLETED'"></th> -->
						</tr>
					</thead>
					<tbody data-ng-repeat="con in TaskAttributes" ng-switch
						on="con.taskstatus" ng-show="!isLoading">
						<tr>
						
    					<td ng-hide="status=='DELETED'">
								<div ng-show="con.taskstatus !='DELETED'">

									<gcms-modal template="task.update.html"
										controller="ModalDefaultCtrl" content="con" ok="update"
										alt="Edit Task {{con.id}}"> <span title="Edit Task" ng-click = "taskdate(con)"
										class="fa fa-pencil" style="color: #337ab7;margin-left: 1px;"></span> </gcms-modal>
									<gcms-modal template="task.delete.html"
										controller="ModalDefaultCtrl" content="con" ok="updateDelete"
										alt="Delete Task {{con.id}}"> <span title="Delete Task"
										ng-hide="loggedInUserRoleId !='5'&&loggedInUserRole.userName !=con.assignedto.userName"
										class="fa fa-trash" style="color: #337ab7;margin-left: 7px;"></span></gcms-modal>
								</div>
								

							</td>						
							<td class="tasktd">{{con.consannexid.payercountry.name }}</td>
							<td class="tasktd">{{con.consannexid.bpid.lastName}}</td>
							<td class="tasktd" >{{con.consannexid.bpid.firstName}}</td>
							<td class="tasktd">{{con.consannexid.profilecountry.name}}</td>
							<td class="tasktd" >{{con.consannexid.eventname}}</td>
							<!-- style="word-break: break-all ;" <td class="tasktd">{{con.consannexid.consentstatus.consentName}}</td>--> 
							 <td class="tasktd ">
							 <gcms-idname id="con.consannexid.consentstatus.id"
									list="consentType"></gcms-idname></td>
							<td>{{con.updatedDate | date:'dd-MM-yyyy'}}</td>
							<td class="tasktd ">{{con.assignedto.firstName}} {{con.assignedto.lastName}}({{con.assignedto.userName}})</td>
							<td class="tasktd cap" >
							 <div ng-if="con.taskstatus=='INCOMPLETE'" >
							   <div ng-if="con.consannexid.annnexlocation ==undefined">
							   		<span  title="Document = Missing" data-toggle="tooltip"   style="color: gray">{{con.taskstatus | lowercase}}</span>							   
							   		<span  title="Document = Missing" data-toggle="tooltip"  class="fa fa-exclamation-circle" style="color: #337ab7;margin-left: 7%;"></span>
							   </div>
							 <div ng-if="con.consannexid.annnexlocation != undefined && con.consannexid.consentstatus.id =='63'">
							 		<span  title="Document=OK , Consent=Missing" data-toggle="tooltip"  style="color: #337ab7">{{con.taskstatus | lowercase}}</span>
							   		<span  title="Document=OK , Consent=Missing" data-toggle="tooltip"  class="fa fa-exclamation-circle cap"  style="color: #337ab7;margin-left: 7%;"></span>
							   </div>
							    <div ng-if="con.consannexid.annnexlocation != undefined && con.consannexid.consentstatus.id !='63' && con.consannexid.eventname==undefined" >
							 		<span  title=" Document = OK , Consent = OK , Event = Missing" data-toggle="tooltip" style="color: #337ab7">{{con.taskstatus | lowercase}}</span>
							   		<span  title=" Document = OK , Consent = OK , Event = Missing" data-toggle="tooltip"  class="fa fa-exclamation-circle"  style="color: #337ab7;margin-left: 7%;"></span>
							   </div>
							   <div ng-if="con.consannexid.annnexlocation != undefined && con.consannexid.consentstatus.id !='63' && con.consannexid.eventname!=undefined && (con.consannexid.pocode == undefined ||con.consannexid.acmcode == undefined )">
							 		<span  title="Document = OK , Consent = OK,  PO Code/ACM Code = Missing" data-toggle="tooltip" style="color: #337ab7">{{con.taskstatus | lowercase}}</span>
							   		<span  title="Document = OK , Consent = OK,  PO Code/ACM Code = Missing" data-toggle="tooltip"  class="fa fa-exclamation-circle"  style="color: #337ab7;margin-left: 7%;"></span>
							   </div> 
							 
							   
							 </div>
							 <div ng-if="con.taskstatus=='COMPLETED'" class="text-center">
							    <span class="fa fa-check" style="color: green;" title="Task Completed"></span>							   
							 </div>
							 <div ng-if="con.taskstatus=='DELETED'" class="text-center">{{con.taskstatus}}</div>
							 </td>
							<td ng-hide="status=='DELETED'">
								<div ng-show="con.taskstatus !='DELETED'">

									<div ng-if="con.consannexid.annnexlocation==undefined">
										<gcms-upload template="task.modals.html"
											controller="ModalDefaultCtrl2" content="con" ok="close"
											> <span title="Upload " 
											ng-hide="loggedInUserRoleId !='5'&&loggedInUserRole.userName !=con.assignedto.userName"
											 class="fa fa-arrow-circle-up" style="margin-left: 11px;"> </gcms-upload>
									</div>
									<div ng-if="con.consannexid.annnexlocation!=undefined">										
										<gcms-upload template="task.modals.html"
											controller="ModalDefaultCtrl2" content="con" ok="update"
											alt="Edit Task {{con.id}}"> <span title="Upload" class="fa fa-arrow-circle-up" 
											ng-hide="loggedInUserRoleId !='5'&&loggedInUserRole.userName !=con.assignedto.userName"
											style="padding-right:10px; margin-left: 11px;"></span>
										</gcms-upload>
										<span ng-show="true" ng-controller="FileManagerController">

											<a href="" ng-click="download(con)"> <span title="Download" class=" fa fa-arrow-circle-down"></span> </a>
										</span>

									</div>

								</div>
							</td>
							<td ng-hide="loggedInUserRoleId !='5' && status!='COMPLETED' "  >
							
								<div ng-switch="con.taskstatus">
									<div ng-switch-when="INCOMPLETE">
									
										<gcms-modal template="task.reassign.html"
											controller="ModalDefaultCtrl" content="con" ok="updateReassign"
											alt="{{con.id}}"> <!-- <span class="glyphicon glyphicon-refresh" style="color:#337ab7;  margin-left: 20px; margin-top: 8px;" ></span> -->
										<span>Reassign</span> </gcms-modal>
									
									</div>
									
									<div ng-switch-when="COMPLETED">
									  <span style="margin-left:17px;" row-select="con" ng-click="select(con)">  <input
											 type="checkbox" /></span>	
									</div>
									
									<!--  <div ng-switch-when="COMPLETED">
									
									 
									    <span ng-mouseover="value(con)" >
										<gcms-modal template="task.revoke.html"
											controller="ModalDefaultCtrl" content="con" ok="revoke"
											alt="Revoke Consent{{con.id}}"> <span>Revoke</span>
										</gcms-modal>
										</span>
										
									</div>  -->
									<div ng-switch-when="DELETED">
										 
											<gcms-modal template="task.undelete.html"
												controller="ModalDefaultCtrl" content="con" ok="updateUnDelete"
												alt="{{con.id}}"> <span>Undelete</span>
											</gcms-modal>
										
									</div>
								</div>

							</td>
							<td ng-show="loggedInUserRoleId !='5'&& status =='DELETED'">
						<gcms-modal template="task.undelete.html"
												controller="ModalDefaultCtrl" content="con" ok="updateUnDelete"
												alt="{{con.id}}"> <span ng-show="loggedInUserRoleId !='5' && loggedInUserRole.userName ==con.assignedto.userName">Undelete</span>
											</gcms-modal></td>
							<!-- <td ng-show="con.taskstatus =='COMPLETED'">
							
									<span row-select="con" ng-click="select(con)">  <input
											 type="checkbox" style="margin-left:7px;"/></span>	 							     
								
							</td> -->

						</tr>

					</tbody>
					<tbody ng-show="isLoading">
						<tr>
							<td colspan="14" class="text-center"><span class="fa fa-refresh fa-spin fa-1x" style="color: #337ab7;"></span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr ng-hide="status!='COMPLETED'">
							<td colspan="14">
							<div class="row" style="margin-top: 12px;margin-bottom: 2px;">
							<div class="col-sm-6">
								
								
								<button   class="btn btn-warning" ng-click="loadData()" data="data"
							filename="'data'"
									report-fields="{
											'Record_type':'Record_type',
											'consannexid.bpid.profileType': 'Party_Type',
											'consannexid.bpid.organisationName': 'Organization',
											'consannexid.bpid.lastName': 'Party Last Name',
											'consannexid.bpid.firstName': 'Party First Name',
											'Party Middle Name':'Party Middle Name',
											'Party Credential':'Party Credential',
											'Party Primary Specialty':'Party Primary Specialty',
											'Party Title':'Party Title',
											'Party Prefix':'Party Prefix',
											'Party Suffix Name':'Party Suffix Name',
											'Party Email Address':'Party Email Address',
											'Party Role/Type of Attendee':'Party Role/Type of Attendee',
											'Source System Identifier for Party':'Source System Identifier for Party',
											'Party ID_1':'Party ID_1',
											'Party ID Type_1':'Party ID Type_1',
											'Party ID_2':'Party ID_2',
											'Party ID Type_2':'Party ID Type_2',
											'Party ID_3':'Party ID_3',
											'Party ID Type_3':'Party ID Type_3',
											'Party ID_4':'Party ID_4',
											'Party ID Type_4':'Party ID Type_4',
											'Party ID_5':'Party ID_5',
											'Party ID Type_5':'Party ID Type_5',
											'Party ID_6':'Party ID_6',
											'Party ID Type_6':'Party ID Type_6',
											'Party ID_7':'Party ID_7',
											'Party ID Type_7':'Party ID Type_7',
											'Party ID_8':'Party ID_8',
											'Party ID Type_8':'Party ID Type_8',
											'Party ID_9':'Party ID_9',
											'Party ID Type_9':'Party ID Type_9',
											'Party ID_10':'Party ID_10',
											'Party ID Type_10':'Party ID Type_10',
											'Party Address Type':'Party Address Type',
											'AddressType': 'AddressType',
											'consannexid.bpid.address': 'Party Address Line 1',
											'consannexid.bpid.address2': 'Party Address Line 2',
											'consannexid.bpid.address3': 'Party Address Line 3',
											'consannexid.bpid.address4': 'Party Address Line 4',
											'Party Region':'Party Region',
											'Party County':'Party County',
											'Party Province':'Party Province',
											'Party Canton':'Party Canton',
											'consannexid.bpid.city': 'Party City',
											'Party Postal/Zip Code':'Party Postal/Zip Code',
											'Party State':'Party State',
											'consannexid.profilecountry.code': 'Party Postal/Zip Code',
											'consannexid.profilecountry.isoCode': 'Party Country Code (2 character ISO)',
											'Source System Identifier for Party_s Address':'Source System Identifier for Party_s Address',
											'Consent_editor':'Consent_editor',
											'Consent_required':'Consent_required',
											'consannexid.consentstatus.consentStatus': 'Consent_Status',
											'consannexid.consentstartdate': 'Consent_Start_Date',
											'consannexid.consentenddate': 'Consent_End_Date',
											'Active Flag SAP':'Active Flag SAP',
											'Parent Institution ID':'Parent Institution ID', 
											'Parent Institution Type':'Parent Institution Type',
											'FCPA Type':'FCPA Type',
											'File Name':'File Name',
											'Source System Code[P]': 'Source System Code[P]',
											'Source Sub-System Code':'Source Sub-System Code',
											'Custom/Flex Field 1':'Custom/Flex Field 1',
											'Custom/Flex Field 2':'Custom/Flex Field 2',
											'Custom/Flex Field 3':'Custom/Flex Field 3',
											'Custom/Flex Field 4':'Custom/Flex Field 4',
											'Custom/Flex Field 5':'Custom/Flex Field 5',
											'Custom/Flex Field 6':'Custom/Flex Field 6',
											'Custom/Flex Field 7':'Custom/Flex Field 7',
											'Custom/Flex Field 8':'Custom/Flex Field 8',
											'Custom/Flex Field 9':'Custom/Flex Field 9',
											'Custom/Flex Field 10':'Custom/Flex Field 10',
											'Custom/Flex Field 11':'Custom/Flex Field 11',
											'Custom/Flex Field 12':'Custom/Flex Field 12',
											'Custom/Flex Field 13':'Custom/Flex Field 13',
											'Custom/Flex Field 14':'Custom/Flex Field 14',
											'Custom/Flex Field 15':'Custom/Flex Field 15',
											'Custom/Flex Field 16':'Custom/Flex Field 16',
											'Custom/Flex Field 17':'Custom/Flex Field 17',
											'Custom/Flex Field 18':'Custom/Flex Field 18',
											'Custom/Flex Field 19':'Custom/Flex Field 19',
											'Custom/Flex Field 20':'Custom/Flex Field 20'																	
											}"
									loaded="loaded" my-directive>Download All (DLU-P)</button>
							<button   class="btn btn-warning" ng-click="loadData()" data="data"
							filename="'summary'"
							report-fields="{											
								            'consannexid.bpid.lastName': 'Last Name/Org Name',
								            'consannexid.bpid.firstName': 'First Name',
								            'consannexid.profilecountry.name': 'Profile Country',
								            'consannexid.payercountry.name': 'Payer Country',
								            'consannexid.eventname': 'Event Name',
								            'consannexid.pocode': 'PO Code',
								            'consannexid.acmcode': 'ACM Code',
								            'consannexid.consentstatus.consentName': 'Consent Status',
								            'updatedDate': 'Consent Updated Date',
								            'consannexid.consentstartdate': 'Consent Start Date',
								            'consannexid.consentenddate': 'Consent End Date',
								            'assignedto.lastName': 'Task Owner Last Name',
								            'assignedto.firstName': 'Task Owner First Name',
								            'assignedto.userName': 'NTID',
								            'taskstatus': 'Task Status'
											}"
							loaded="loaded" my-directive>Download All (Table Summary)</button></div>
							<div class="col-sm-6" style="text-align: right;">
							
							<button ng-show="selected.length != '0'" class="btn btn-warning" style="margin-left: 48%;" ng-json-export-excel
									data="selected"
									report-fields="{
											'Record_type':'Record_type',
											'consannexid.bpid.profileType': 'Party_Type',
											'consannexid.bpid.organisationName': 'Organization',
											'consannexid.bpid.lastName': 'Party Last Name',
											'consannexid.bpid.firstName': 'Party First Name',
											'Party Middle Name':'Party Middle Name',
											'Party Credential':'Party Credential',
											'Party Primary Specialty':'Party Primary Specialty',
											'Party Title':'Party Title',
											'Party Prefix':'Party Prefix',
											'Party Suffix Name':'Party Suffix Name',
											'Party Email Address':'Party Email Address',
											'Party Role/Type of Attendee':'Party Role/Type of Attendee',
											'Source System Identifier for Party':'Source System Identifier for Party',
											'Party ID_1':'Party ID_1',
											'Party ID Type_1':'Party ID Type_1',
											'Party ID_2':'Party ID_2',
											'Party ID Type_2':'Party ID Type_2',
											'Party ID_3':'Party ID_3',
											'Party ID Type_3':'Party ID Type_3',
											'Party ID_4':'Party ID_4',
											'Party ID Type_4':'Party ID Type_4',
											'Party ID_5':'Party ID_5',
											'Party ID Type_5':'Party ID Type_5',
											'Party ID_6':'Party ID_6',
											'Party ID Type_6':'Party ID Type_6',
											'Party ID_7':'Party ID_7',
											'Party ID Type_7':'Party ID Type_7',
											'Party ID_8':'Party ID_8',
											'Party ID Type_8':'Party ID Type_8',
											'Party ID_9':'Party ID_9',
											'Party ID Type_9':'Party ID Type_9',
											'Party ID_10':'Party ID_10',
											'Party ID Type_10':'Party ID Type_10',
											'Party Address Type':'Party Address Type',
											'AddressType': 'AddressType',
											'consannexid.bpid.address': 'Party Address Line 1',
											'consannexid.bpid.address2': 'Party Address Line 2',
											'consannexid.bpid.address3': 'Party Address Line 3',
											'consannexid.bpid.address4': 'Party Address Line 4',
											'Party Region':'Party Region',
											'Party County':'Party County',
											'Party Province':'Party Province',
											'Party Canton':'Party Canton',
											'consannexid.bpid.city': 'Party City',
											'Party Postal/Zip Code':'Party Postal/Zip Code',
											'Party State':'Party State',
											'consannexid.profilecountry.code': 'Party Postal/Zip Code',
											'consannexid.profilecountry.isoCode': 'Party Country Code (2 character ISO)',
											'Source System Identifier for Party_s Address':'Source System Identifier for Party_s Address',
											'Consent_editor':'Consent_editor',
											'Consent_required':'Consent_required',
											'consannexid.consentstatus.consentStatus': 'Consent_Status',
											'consannexid.consentstartdate': 'Consent_Start_Date',
											'consannexid.consentenddate': 'Consent_End_Date',
											'Active Flag SAP':'Active Flag SAP',
											'Parent Institution ID':'Parent Institution ID', 
											'Parent Institution Type':'Parent Institution Type',
											'FCPA Type':'FCPA Type',
											'File Name':'File Name',
											'Source System Code[P]': 'Source System Code[P]',
											'Source Sub-System Code':'Source Sub-System Code',
											'Custom/Flex Field 1':'Custom/Flex Field 1',
											'Custom/Flex Field 2':'Custom/Flex Field 2',
											'Custom/Flex Field 3':'Custom/Flex Field 3',
											'Custom/Flex Field 4':'Custom/Flex Field 4',
											'Custom/Flex Field 5':'Custom/Flex Field 5',
											'Custom/Flex Field 6':'Custom/Flex Field 6',
											'Custom/Flex Field 7':'Custom/Flex Field 7',
											'Custom/Flex Field 8':'Custom/Flex Field 8',
											'Custom/Flex Field 9':'Custom/Flex Field 9',
											'Custom/Flex Field 10':'Custom/Flex Field 10',
											'Custom/Flex Field 11':'Custom/Flex Field 11',
											'Custom/Flex Field 12':'Custom/Flex Field 12',
											'Custom/Flex Field 13':'Custom/Flex Field 13',
											'Custom/Flex Field 14':'Custom/Flex Field 14',
											'Custom/Flex Field 15':'Custom/Flex Field 15',
											'Custom/Flex Field 16':'Custom/Flex Field 16',
											'Custom/Flex Field 17':'Custom/Flex Field 17',
											'Custom/Flex Field 18':'Custom/Flex Field 18',
											'Custom/Flex Field 19':'Custom/Flex Field 19',
											'Custom/Flex Field 20':'Custom/Flex Field 20'																	
											}"
									filename="'Data'">Generate DLU-P</button>
							<button ng-show="selected.length != '0'" class="btn btn-warning" ng-json-export-excel
									data="selected"
									report-fields="{											
								            'consannexid.bpid.lastName': 'Last Name/Org Name',
								            'consannexid.bpid.firstName': 'First Name',
								            'consannexid.profilecountry.name': 'Profile Country',
								            'consannexid.payercountry.name': 'Payer Country',
								            'consannexid.eventname': 'Event Name',
								            'consannexid.pocode': 'PO Code',
								            'consannexid.acmcode': 'ACM Code',
								            'consannexid.consentstatus.consentName': 'Consent Status',
								            'updatedDate': 'Consent Updated Date',
								            'consannexid.consentstartdate': 'Consent Start Date',
								            'consannexid.consentenddate': 'Consent End Date',
								            'assignedto.lastName': 'Task Owner Last Name',
								            'assignedto.firstName': 'Task Owner First Name',
								            'assignedto.userName': 'NTID',
								            'taskstatus': 'Task Status'
											}"
									filename="'summary'">Table Summary</button>
							</div>
							</div>
							</td>

						</tr>
						
						<tr>
							<td colspan="14" class="text-center" ng-hide="itemsByPage >= totalcount">
								<div st-items-by-page='itemsByPage' st-pagination=""
									st-template="app/task/pagination.custom.html"></div>
							</td>
						</tr>
					</tfoot>
				</table>
	</div>
 </div>






