<form id="uploadfile" ng-controller="FileManagerController">
	<div class="modal-header"
		style="background-color: #337ab7; color: white; padding: 5px;">
		<h3 class="modal-title" style="font-size: medium;">{{('File Upload' | gTranslate:translationData:'FL_UPLD')}}</h3>
	</div>
	<div class="modal-body">
		<span style="color: green;">{{success}}</span>
		<span style="color: red;">{{error}}</span>
		{{item.consannexid.tmpl_id.manualUpload}}
		 <label class="radio"><!-- {{"files_will_uploaded_to"| translate}} <b>/{{fileNavigator.currentPath.join('/')}}</b> --></label>
		  <input type="file" class="form-control" ng-file="uploadFileList" placeholder="{{('No file chosen' | gTranslate:translationData:'NO_FL_CHSN')}}"
			autofocus="autofocus" accept=".pdf" style="padding-top: 3px;" />
		<!-- onchange="angular.element(this).scope().uploadFiles() -->
		<label class="radio"></label>
	</div>
	<div class="modal-footer">
		
			<button ng-click="uploadFiles(item)" class="btn btn-primary"
				ng-disabled="!uploadFileList.length">{{('Upload' | gTranslate:translationData:'ACT_UPLD')}}</button>
			<button ng-click="cancel()" type="button" class="btn btn-warning">{{('Cancel' | gTranslate:translationData:'ACT_CNCL')}}</button>
	</div>
</form>
 
