<form id="uploadfile" ng-controller="FileManagerController">
	<div class="modal-header"
		style="background-color: #337ab7; color: white; padding: 5px;">
		<h3 class="modal-title" style="font-size: medium;">
			Upload Template For {{item.tmpl_name}}
			
		</h3>
	</div>
	<div class="modal-body">
		<span style="color: green;">{{success}}</span>
		<span style="color: red;">{{error}}</span>
		  <label class="radio"><!-- {{"files_will_uploaded_to"| translate}} <b>/{{fileNavigator.currentPath.join('/')}}</b> --></label> 
		  <input type="file" class="form-control" ng-file="uploadFileList"
			autofocus="autofocus" accept=".doc,.docx" style="padding-top: 3px;" />
		<!-- onchange="angular.element(this).scope().uploadFiles() -->
		<label class="radio"></label>
	</div>
	<div class="modal-footer">
		<div ng-show="!apiMiddleware.inprocess">
			
			<button ng-click="uploadFiles(item)" class="btn btn-primary"
				ng-disabled="!uploadFileList.length">{{'Upload' |
				translate}}</button>
				<button ng-click="cancel()" type="button" class="btn btn-warning">{{"Close"
				| translate}}</button>
		</div>
	</div>
</form>







