<p style="font-size: 12px;">Before requesting a new profile, please make sure you searched
 using multiple criteria</p>
	
            <form novalidate name="saveProfiles" class="form-vertical" role="form" ng-submit="submit(item)">
                 <h4 style="color: black; font-size: small;">General Details</h4>
                <div class="form-group">
                    <label for="Profile Type" class="col-sm-3 control-label" style="font-size: 13px;">Profile Type:*</label>
                    <div class="col-sm-9">
					<select ng-model="group1.name" ng-options="Group1.Name for Group1 in Groupss" style="width: 388px;
                     border-radius: 3px;
                     height: 30px;
                     border: 1px solid #cccccc;"></select>                      
                        <span class="help-block"></span>
                    </div>
                </div>
				 
                <div class="form-group" ng-model="new1Value" ng-hide="group1.name.Value == 'HCO'">
                    <label for="fname" class="col-sm-3 control-label" style="font-size: 13px;">First Name:*</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                   <input type="text" class="form-control" id="firstName" ng-model="item.firstName">
   
                    </div>
                </div>
                <div class="form-group" ng-model="new1Value" ng-hide="group1.name.Value == 'HCO'">
                    <label for="lastname" class="col-sm-3 control-label" style="font-size: 13px;">Last Name:*</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                       <input type="text" class="form-control" id="lastName" ng-model="item.lastName">
                    </div>
                </div>
                <div class="form-group" name="New1Value" ng-model="new1Value">
                    <label for="oragname" class="col-sm-3 control-label" style="font-size: 13px;">Organization Name:*</label>
                    <div class="col-sm-9"style="height: 29px;">
                        <input type="text" id="organizationName" class="form-control" ng-model="item.organizationName">
                    </div>
                </div>
				 <legend style="color: black; font-size: small;">Professional Details</legend>
				 <div class="form-group">
                    <label for="Procity" class="col-sm-3 control-label" style="font-size: 13px;">Profile City</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" id="city" placeholder="" class="form-control" ng-model="item.city">
                    </div>
                </div>
				<div class="form-group">
                    <label for="Procnt" class="col-sm-3 control-label" style="font-size: 13px;">Profile Country:*</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" id="country" placeholder="" class="form-control" ng-model="item.country">
                    </div>
                </div>
				<div class="form-group" ng-model="new1Value" ng-hide="group1.name.Value == 'new1'">
                    <label for="Prosp" class="col-sm-3 control-label" style="font-size: 13px;">Profile Specialty:*</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" id="specility" placeholder="" class="form-control" ng-model="item.specility">
                    </div>
                </div>
				<div class="form-group">
                    <label for="Proadd" class="col-sm-3 control-label" style="font-size: 13px;">Profile Address:*</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                        <input type="text" id="address" placeholder="" class="form-control" ng-model="item.address">
                    </div>
                </div>
                 <!-- /.form-group -->
              <h4 style="color: black; font-size: small;">Other Details</h4>
			  <div class="form-group" style="margin-bottom: 0px;">
                    <label for="Proadd" class="col-sm-3 control-label" style="font-size: 13px;margin-top: 10px;">Note for reviewer:</label>
                    <div class="col-sm-9" style="margin-bottom: 10px; height: 29px;">
                        	<textarea id="notes" class="form-control" rows="2" ng-model="item.notes" style="margin-top: 3px;"></textarea>
                    </div>
                </div>

	<div class="form-group">
		<div class="col-sm-3">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>