 <div ng-model = "downloadMsg">{{msg}}</div>
  <form name="generateAnnex">
  <table class="table table-hover" >
  <div class="table-responsive">
	<thead class="panel-heading">
	<tr class="panel-title">
	<th>Template Type</th>
    <th>Last Name*</th>
	<th>First Name*</th>
	<th>Event Description*</th>  
	<th>TR ID*</th> 
	<th>PO Code</th>
	<th>ACM/ InterAct Code</th>
	<th></th> 
	</tr>
	</thead>
	
	<tbody>
	<tr ng-repeat = "i in checkedIds"  >
	<td>
	<select ng-model="request.tmpl_id" class="form-control">
	<option ng-repeat="template in templates | filter:customArrayFilter">{{template.tmpl_name}}</option>
	</select>				
    </td>			
 	<td ng-model="request.lastName">{{i.lastName}}</td>
    <td ng-model="request.firstName">{{i.firstName}}</td>	             
    <td><input type="text" id="eventname" placeholder="" class="form-control" ng-model="request.eventname"></td>
    <td ng-model="request.id" >{{i.id}}</td>
	<td><input type="text" id="pocode" placeholder="" ng-model="request.pocode" class="form-control"> </td>
 	<td><input type="text" id="acmcode" placeholder="" ng-model="request.acmcode" class="form-control"></td>
 	<td><button class="btn btn-xs btn-primary" type="button" ng-click="submit(request)">Generate</button></td>
 	</tr>
	</tbody>	
	<tfoot>	
	</tfoot>
	</div>
	</table>
</form>	