<div class="panel panel-primary table-responsive">
	<div class="panel-heading">{{('Identity Request' | gTranslate:translationData:'IDN_REQ')}}</div>
<div ng-controller="identityCtrl">
	<div class="panel-body">
		<table class="table table-hover ">
			<div class="table-responsive">
				<!-- st-set-filter="myStrictFilter" --> 
				<table  st-table="displayedCollection" 
				
					st-safe-src="identityRequestView"
					class="table table-bordered table-hover ">
					<thead>
						<tr style="color: white; background-color: #337ab7;">
							<th class="pro-rev" > </th>
							<th class="pro-rev" style="width:12%;" st-sort="profileTypeId">{{('Profile Type' | gTranslate:translationData:'PRF_TYP')}}</th>
							<th class="pro-rev" style="width:15%;" st-sort="firstName">{{('First Name' | gTranslate:translationData:'FRS_NM')}}</th>
							<th class="pro-rev" style="width:15%;" st-sort="lastName">{{('Last Name' | gTranslate:translationData:'LST_NM')}}</th> 
							<th class="pro-rev" style="width:14%;" st-sort="organizationName" >{{('Organization Name' | gTranslate:translationData:'ORG_NM')}}</th> 
							<th class="pro-rev" style="width:12%;"st-sort="country">{{('Profile Country' | gTranslate:translationData:'PRF_CTRY')}}</th>
							<th class="pro-rev"  style="width:14%;"st-sort="createdBy">{{('Created By' | gTranslate:translationData:'CRTD_BY')}}</th> 
							<th class="pro-rev"style="width:6%;" >{{('Status' | gTranslate:translationData:'STATS')}}</th>
							<th class="pro-rev"  ng-hide="status=='False'">{{('Action' | gTranslate:translationData:'ACTN')}}</th>

						</tr>

						<tr>
							<th style="width: 4%;"></th>
							<th><input st-search="profileTypeId"
								class="form-control" type="search" /></th>
							<th><input st-search="firstName" placeholder=" "
								class="form-control" type="search" /></th>
							<th><input st-search="lastName" placeholder=" "
								class="form-control" type="search" /></th> 
								<th><input st-search="organizationName" placeholder=" "
								class="form-control" type="search" /></th> 
							<th><input st-search="country" 
								placeholder=" " class="form-control" type="search" /></th>
								<th><input st-search="createdBy" placeholder=" "
								class="form-control" type="search" /></th>
						<th><select st-input-event="change keydown" st-search="status"  ng-model="request.downchk" ng-change="onCategoryChange(request)" style="height: 27px;padding-left:3px;width:95px;">
						            <option value="Pending">{{('Pending' | gTranslate:translationData:'ST_PND')}}</option>
									 <option value="Approved">{{('Approved' | gTranslate:translationData:'ST_APR')}}</option> 									
									<option value="Rejected">{{('Rejected' | gTranslate:translationData:'ST_REJ')}}</option>
									<option value="Merge">{{('Merge' | gTranslate:translationData:'ST_MRG')}}</option>
							</select></th> 	
							<th  ng-hide="status=='False'"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="identity in displayedCollection">
                             
							<td>
							
							<gcms-modal template="identity.view.html"
										controller="ModalDefaultCtrl" content="identity" ok="update"
										alt="Edit Task {{identity.id}}"> <span
										style="color: #337ab7;margin-left: 3px;" title="Identity View">{{('View' | gTranslate:translationData:'ACT_VW')}}</span> </gcms-modal>
										
							<!-- <a herf="" ng-if="identity.expanded" ng-click="identity.expanded = false" >
                                                           Close  </a>
                             <a herf="" ng-if="!identity.expanded" ng-click="identity.expanded = true"
                                                           >View </a>  -->

							</td>
					
							<td class="tasktd" >{{ identity.profileTypeId }}</td>
							 <td class="tasktd" >{{ identity.firstName}}</td>
							<td class="tasktd" >{{ identity.lastName }}</td> 
							 <td  class="tasktd">{{ identity.organizationName}}</td>
							<td class="tasktd">{{ identity.country}}</td>
							<td class="tasktd">{{ identity.createdBy}}</td>
							<td style="word-break: break-all;">{{(identity.status | gTranslate:translationData:identity.status)}}</td>

							<td  ng-hide="status=='False'">
								<div ng-switch="identity.status">

									<div ng-switch-when="Approved">{{('Approve/Reject' | gTranslate:translationData:'APR_REJ')}}</div>
									<div ng-switch-when="Rejected">{{('Approve/Reject' | gTranslate:translationData:'APR_REJ')}}</div>
									<div ng-switch-when="Merge">{{('Merge' | gTranslate:translationData:'ACT_MRG')}}</div>
									<div ng-switch-default ng-show="identity.regionId == 3">
										<gcms-modal template="indentity.search.html" controller="ModalDefaultCtrl"
											ok="close" content="identity" ng-init="item=identity">
										<a href="" ng-click="updateRegion(identity)">{{('Approve/Reject' | gTranslate:translationData:'APR_REJ')}}</a> </gcms-modal>
									</div>
									<div ng-switch-default ng-show="identity.regionId == 5">
										<gcms-modal template="indentity.search.html" controller="ModalDefaultCtrl"
											ok="close" content="identity" ng-init="item=identity">
										<a href="" ng-click="updateRegion(identity)">{{('Merge' | gTranslate:translationData:'ACT_MRG')}}</a> </gcms-modal>
									</div>
									
								</div>
							</td>

						</tr>
						
						
						
						<!-- <tr ng-if="identity.expanded" ng-repeat-end="">
							<td colspan="12">
								<table class="table table-bordered table-hover table-highlight">
									<tr>
										<td style="padding-left: 80px;">ProfileTypeId:<td  style="margin-left: 86px;">  {{
											identity.profileTypeId }}</td></td>

										<td style="padding-left: 63px;">FirstName:<td  style="margin-left: 86px;"> {{
											identity.firstName}}</td></td>
									</tr>
									<tr>
										<td style="padding-left: 80px;">LastName:<td  style="margin-left: 86px;">  {{
											identity.lastName }}</td></td>
										<td style="padding-left: 63px;">OrganizationName:<td style="margin-left: 39px;"> {{
											identity.organizationName}}</td></td>
									</tr>

									<tr>
										<td style="padding-left: 80px;">Country: <td  style="margin-left: 86px;"> {{
											identity.country }}</td></td>
										<td style="padding-left: 63px;">Address:<td style="margin-left: 95px;"> {{
											identity.address}}</td></td>
									</tr>
									<tr>

										<td style="padding-left: 80px;">Speciality:<td  style="margin-left: 86px;">  {{
											identity.specility}}</td></td>
										<td style="padding-left: 63px;">Notes: <td  style="margin-left: 86px;">  {{ identity.notes}}</td></td>

									</tr>
									<tr>

										<td style="padding-left: 80px;">Status: <td> {{
											identity.status}}</td></td>



									</tr>


									
									

								</table>
							</td>
						</tr> -->
					
						
						
					</tbody>
					<tfoot>
					<tr>

						<td colspan="10" class="text-center" ng-hide="recordlength <'10' " >
							<div  st-items-by-page="10" st-pagination=""
								st-template="app/profile/list/pagination.custom.html"></div>
							
						</td>
						<td  colspan="10" class="text-center" ng-show="recordlength =='0'">
						<div>{{records}}</div>
						</td>
					</tr>
				</tfoot>
				</table>
				
			</div>
		</table>
	</div>
	</div>
</div>







