<div class="panel panel-primary table-responsive">
	<div class="panel-heading">Identity request</div>
	
				<div class="panel-body">

					<table class="table table-bordered table-striped table-highlight">
						<thead>
						
							<tr>
								  <tr style="background-color: #337ab7;height: 46px;">
        <th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse" class="headpro">
           #
          </span>
        </th>
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'profileTypeId'; sortReverse = !sortReverse" class="headpro">
          Profile Type Id
          </span>
        </th>
								
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'firstName'; sortReverse = !sortReverse" class="headpro">
           First Name
          </span>
        </th>
								
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'lastName'; sortReverse = !sortReverse" class="headpro">
           Last Name
          </span>
        </th>
								
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'organizationName'; sortReverse = !sortReverse" class="headpro">
           OrganizationName
          </span>
        </th>
								
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'profileCountry'; sortReverse = !sortReverse" class="headpro">
          Profile Country
          </span>
        </th>
								
			<th class="pro-rev" style="padding-bottom: 18px;">
          <span href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse" class="headpro">
          Status
          </span>
        </th>
								<th class="pro-rev" style="padding-bottom: 18px;"><span href="#"
									ng-click="orderByField='salary'; reverseSort = !reverseSort" class="headpro">Action</span></th>
							</tr>

							<tr>
							<th></th>
							<form>
                       <div class="form-group">
                       <th> <div class="input-group">
                     
                           <input type="text" class="form-control"  ng-model="" id="formrequest">
                    </div> </th> 
                   <th>  <div class="input-group">
                     
                           <input type="text" class="form-control" placeholder="" ng-model="identity.firstName" id="formrequest">
                    </div>  </th> 
                   <th>   <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.lastName" id="formrequest">
                    </div> </th> 
                    <th>  <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.organizationName" id="formrequest">
                    </div>  </th>
                    <th>  <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.country" id="formrequest">
                    </div>  </th>
                   <th> <div class="input-group">
                        <input type="text" class="form-control" placeholder="" ng-model="identity.status" id="formrequest">
                    </div>   </th>   
                           </div>
  
	

								<th><select class="form-control">
										<option>Approve</option>
										<option>Dismiss</option>
										<option>Validate</option>
								</select></th>
								</form>
							</tr>
						</thead>
						<tbody data-ng-repeat="identity in identityRequestView|orderBy:sortType:sortReverse|filter:searchFish">
							<tr>
								<td><button class="btn btn-primary" ng-click="selectTableRow($index, identity.profileTypeId) ;editMode = true; "
                                                            data-ng-hide="editMode"  ng-disabled="recipientForm.$invalid" style="padding: 1px 9px;font-size: 10px;"> View Profile
                                                           
                                                           </button></td>
								<td>{{ identity.profileTypeId }}</td>
								<td>{{ identity.firstName}}</td>
								<td>{{ identity.lastName }}</td>
								<td>{{ identity.organizationName}}</td>
								<td>{{ identity.country}}</td>
								<td>{{ identity.status }}</td>
								
								
								<td><gcms-modal template="indentity.search.html" controller="ModalDefaultCtrl" content="IdentitySearch" ok="validate(item)" >
    <a href="">Approve/Dismiss</a>
  </gcms-modal></td>
									</tr>
							<tr data-ng-show="dayDataCollapse[$index]">
								<td colspan="12">
									<table class="table table-hover table-condensed table-striped">
										<tr>
											<td style=" padding-left: 63px;">ProfileTypeId:  {{
													identity.profileTypeId }}
											</td>
											
											<td style=" padding-left: 63px;">FirstName:  {{
													identity.firstName}}
											</td>
										</tr>
										<tr>
											<td style=" padding-left: 63px;">LastName:  {{
													identity.lastName }}
											</td>
											<td style=" padding-left: 63px;">OrganizationName:  {{
													identity.organizationName}}
											</td>
										</tr>

										<tr>
											<td style=" padding-left: 63px;">Country:  {{
													identity.country }}
											</td>
											<td style=" padding-left: 63px;">Address:  {{ identity.address}}
											</td>
										</tr>
										<tr>

											<td style=" padding-left: 63px;">Speciality:  {{ identity.specility}} 
											</td>
											<td style=" padding-left: 63px;"> Notes:<span data-ng-hide="editMode">{{
													identity.notes}}</span> </td>
											
										</tr>
										<tr >
													
												<td  style=" padding-left: 63px;">Status:   <span data-ng-hide="editMode">{{
													identity.status}}</span> </td>
											
												 <td style="float:right;"> <button class="btn btn-warning" ng-click="showme=false"">Close</button></td>
											
</tr>


							

										
									</table>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
</div>


