<div class="panel panel-primary table-responsive">
	<div class="panel-heading">Identity Request</div>
<div ng-controller="identityCtrl">
	<div class="panel-body">
		<table class="table table-hover ">
			<div class="table-responsive">
				<!-- st-set-filter="myStrictFilter" -->
				<table  st-table="displayedCollection"
				
					st-safe-src="identityRequestView"
					class="table table-bordered table-hover ">
					<thead>
						<tr style="color: white; background-color: #337ab7;">
							<th class="pro-rev" > </th>
							<th class="pro-rev" style="width:12%;" st-sort="profileTypeId">Profile Type</th>
							<th class="pro-rev" style="width:15%;" st-sort="firstName">First Name</th>
							<th class="pro-rev" style="width:15%;" st-sort="lastName">Last Name</th> 
							<th class="pro-rev" style="width:14%;" st-sort="organizationName" > Organization Name</th> 
							<th class="pro-rev" style="width:12%;"st-sort="country">Profile Country</th>
							<th class="pro-rev"  style="width:14%;"st-sort="createdBy">Created By</th> 
							<th class="pro-rev"style="width:6%;" >Status</th>
							<th class="pro-rev"  ng-hide="status=='False'">Action</th>

						</tr>

						<tr>
							<th style="width: 4%;"></th>
							<th><input st-search="profileTypeId"
								class="form-control" type="search" /></th>
							<th><input st-search="firstName" placeholder=" "
								class="form-control" type="search" /></th>
							<th><input st-search="lastName" placeholder=" "
								class="form-control" type="search" /></th> 
								<th><input st-search="organizationName" placeholder=" "
								class="form-control" type="search" /></th> 
							<th><input st-search="country" 
								placeholder=" " class="form-control" type="search" /></th>
								<th><input st-search="createdBy" placeholder=" "
								class="form-control" type="search" /></th>
						<th><select st-search="status"  ng-model="request.downchk" ng-change="onCategoryChange(request)" style="padding: 6px 11px;height: 27px;">
						            <option value="Pending">Pending</option>
									 <option value="Approved">Approved</option> 									
									<option value="Rejected">Rejected</option>
							</select> 	
							<th  ng-hide="status=='False'"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="identity in displayedCollection">
                             
							<td>
							
							<gcms-modal template="identity.view.html"
										controller="ModalDefaultCtrl" content="identity" ok="update"
										alt="Edit Task {{identity.id}}"> <span
										style="color: #337ab7;margin-left: 3px;" title="Identity View"> View</span> </gcms-modal>
										
							<!-- <a herf="" ng-if="identity.expanded" ng-click="identity.expanded = false" >
                                                           Close  </a>
                             <a herf="" ng-if="!identity.expanded" ng-click="identity.expanded = true"
                                                           >View </a>  -->

							</td>
					
							<td class="tasktd" >{{ identity.profileTypeId }}</td>
							 <td class="tasktd" >{{ identity.firstName}}</td>
							<td class="tasktd" >{{ identity.lastName }}</td> 
							 <td  class="tasktd">{{ identity.organizationName}}</td>
							<td class="tasktd">{{ identity.country}}</td>
							<td class="tasktd">{{ identity.createdBy}}</td>
							<td style="word-break: break-all;">{{ identity.status }}</td>

							<td  ng-hide="status=='False'">
								<div ng-switch="identity.status">

									<div ng-switch-when="Approved">Approve/Reject</div>
									<div ng-switch-when="Rejected">Approve/Reject</div>
									<div ng-switch-default>
										<gcms-modal template="indentity.search.html"
											ng-init="item=identity" controller="ModalDefaultCtrl"
											content="identity"   ok="close" >
										<a href="">Approve/Reject</a> </gcms-modal>
									</div>
									
								</div>
							</td>

						</tr>
						
						
						
						<!-- <tr ng-if="identity.expanded" ng-repeat-end="">
							<td colspan="12">
								<table class="table table-bordered table-hover table-highlight">
									<tr>
										<td style="padding-left: 80px;">ProfileTypeId:<td  style="margin-left: 86px;">  {{
											identity.profileTypeId }}</td></td>

										<td style="padding-left: 63px;">FirstName:<td  style="margin-left: 86px;"> {{
											identity.firstName}}</td></td>
									</tr>
									<tr>
										<td style="padding-left: 80px;">LastName:<td  style="margin-left: 86px;">  {{
											identity.lastName }}</td></td>
										<td style="padding-left: 63px;">OrganizationName:<td style="margin-left: 39px;"> {{
											identity.organizationName}}</td></td>
									</tr>

									<tr>
										<td style="padding-left: 80px;">Country: <td  style="margin-left: 86px;"> {{
											identity.country }}</td></td>
										<td style="padding-left: 63px;">Address:<td style="margin-left: 95px;"> {{
											identity.address}}</td></td>
									</tr>
									<tr>

										<td style="padding-left: 80px;">Speciality:<td  style="margin-left: 86px;">  {{
											identity.specility}}</td></td>
										<td style="padding-left: 63px;">Notes: <td  style="margin-left: 86px;">  {{ identity.notes}}</td></td>

									</tr>
									<tr>

										<td style="padding-left: 80px;">Status: <td> {{
											identity.status}}</td></td>



									</tr>


									
									

								</table>
							</td>
						</tr> -->
					
						
						
					</tbody>
					<tfoot>
						<tr>
							<td colspan="13" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage"
									st-displayed-pages="5"
									st-template="app/task/pagination.custom.html"></div>
									<div>{{records}}</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</table>
	</div>
	</div>
</div>







<!-- <div class="panel panel-primary ng-scope">
      <div class="panel-heading">Identity request</div>
      <div class="container">
            <div class="row">
                  <div class="col-sm-12">
                        <div class="panel-body">

                              <table class="table table-bordered table-striped table-highlight">
                                    <thead>
                                    
                                          <tr>
                                                  <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
           #
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                <td>
          <a href="#" ng-click="sortType = 'profileTypeId'; sortReverse = !sortReverse">
          profileTypeId
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                </td>
                                                <td>
          <a href="#" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
           firstName
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                </td>
                                                <td>
          <a href="#" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
           lastName
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                </td>
                                                <td>
          <a href="#" ng-click="sortType = 'organizationName'; sortReverse = !sortReverse">
           organizationName
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                </td>
                                                <td>
          <a href="#" ng-click="sortType = 'profileCountry'; sortReverse = !sortReverse">
          profileCountry
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                </td>
                                                <td>
          <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
          status
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
                                                <th><a href="#"
                                                      ng-click="orderByField='salary'; reverseSort = !reverseSort">Action</a></th>
                                          </tr>

                                          <tr>
                                          <td></td>
                                          <form>
                       <div class="form-group">
                       <td> <div class="input-group">
                     
                           <input type="text" class="form-control"  ng-model="">
                    </div> </td> 
                   <td>  <div class="input-group">
                     
                           <input type="text" class="form-control" placeholder="" ng-model="identity.firstName">
                    </div>  </td> 
                   <td>   <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.lastName">
                    </div> </td> 
                    <td>  <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.organizationName">
                    </div>  </td>
                    <td>  <div class="input-group">
                     
                         <input type="text" class="form-control" placeholder="" ng-model="identity.country">
                    </div>  </td>
                   <td> <div class="input-group">
                        <input type="text" class="form-control" placeholder="" ng-model="identity.status">
                    </div>   </td>   
                           </div>
  
      

                                                <td><select class="form-control">
                                                            <option>Approve</option>
                                                            <option>Dismiss</option>
                                                            <option>Validate</option>
                                                </select></td>
                                                </form>
                                          </tr>
                                    </thead>
                                    <tbody data-ng-repeat="identity in identityRequestView|orderBy:sortType:sortReverse|filter:searchFish">
                                          <tr>
                                                <td><button type="btn btn-small"
                                                            data-ng-click="selectTableRow($index, identity.profileTypeId) ; changeText($index, identity.profileTypeId)"
                                                          >VIEWPROFILE</button></td>
                                                <td>{{ identity.profileTypeId }}</td>
                                                <td>{{ identity.firstName}}</td>
                                                <td>{{ identity.lastName }}</td>
                                                <td>{{ identity.organizationName}}</td>
                                                <td>{{ identity.country}}</td>
                                                <td>{{ identity.status }}</td>
                                                
                                                
                                               <td>
							
								<div ng-switch="identity.status">
							
  						<div ng-switch-when="Approve">
  							
    Approve/Dismiss
  						</div>
  						<div ng-switch-when="Dismiss">
  							
  Approve/Dismiss 
  						</div>
							<div ng-switch-default>
  							<gcms-modal template="indentity.search.html"  ng-init="item=identity"  
								  controller="ModalDefaultCtrl" content="identity" open="" alt="Validate {{identity.id}}" >
    <a href="">Approve/Dismiss</a>  </gcms-modal>
  						</div>	
						</div>		
</td>
                                                      </tr>
                                          <tr data-ng-show="dayDataCollapse[$index]">
                                                <td colspan="12">
                                                      <table class="table table-hover table-condensed table-striped">
                                                            <tr>
                                                                  <td>ProfileTypeId:{{
                                                                              identity.profileTypeId }}
                                                                  </td>
                                                                  <td>FirstName:{{
                                                                              identity.firstName}}
                                                                  </td>
                                                            </tr>
                                                            <tr>
                                                                  <td>LastName:{{
                                                                              identity.lastName }}
                                                                  </td>
                                                                  <td>OrganizationName:{{
                                                                              identity.organizationName}}
                                                                  </td>
                                                            </tr>

                                                            <tr>
                                                                  <td>Country:{{
                                                                              identity.country }}
                                                                  </td>
                                                                  <td>Address:{{ identity.address}}
                                                                  </td>
                                                            </tr>
                                                            <tr>

                                                                  <td>specility:{{ identity.specility}} 
                                                                  </td>
                                                                  <td>Notes:{{
                                                                              identity.notes}}</td>
                                                                  
                                                            </tr>
                                                            <tr >
                                                                              
                                                                        <td>Status:{{
                                                                              identity.status}}</td>
                                                                  
</tr>


                                          

                                                            
                                                      </table>
                                                </td>
                                          </tr>
                                    </tbody>
                              </table>

                        </div>
                  </div>
            </div>
      </div>
</div>



 -->