
<div class="panel panel-primary">
  <div class="panel-heading">Concent History</div>

  <div class="panel-body">
  <!-- table start -->
   
  <table class="table table-hover roles-table">
                <thead>
                    <tr>
                      
                        <th>Profile Type</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Country</th>
                        <th>Address</th>
                        <th>Consent Status</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="bp in ProfileAttributes">
                   
                    <tr >
                        <td>{{bp.profileType}}</td>
                        <td>{{bp.firstName}}</td>
                        <td>{{bp.lastName}}</td>
                        <td>{{bp.country}}</td>
                        <td>{{bp.address}}</td>
                        
                        <td><button type="btn btn-small" data-ng-click="selectTableRow($index, bp.id)">
                            view</button></td>
                   </tr>
                     <tr data-ng-show="dataCollapse[$index]">
                      <td colspan="7">
                      <table class="table table-hover roles-table">
                         <thead>
                                
                                          <tr>
                                                
                                                <th>Consent Code</th>
                                                <th>Consent Staus</th>
                                                <th>Consent Start Date</th>
                                                <th>Consent End Date</th>
                                                <th>Consent Event Name</th>
                                                <th>Created By</th>
                                                <th>View Doc</th>
                                                
                                            </tr>  
                         </thead>
                         
                         <tbody data-ng-repeat="field in ConsentAttributes">
                          
                             <tr data-ng-if="field.bpid.id==bp.id"> 
                                                
                                                <td>{{field.updatedDate}}</td>
          										<td>{{field.consentstatus.consentName}}</td>
          										<td>{{field.consentstartdate}}</td>
          										<td>{{field.consentenddate}}</td>
          										<td>{{field.eventname}}</td>
         										<td>{{field.createdBy}}</td>
         										<td ng-href="{{link}}">Link</td>
         										
                                                <td></td>
                             
                             
                           </tr>
                           <gcms-lov list="consentType"></gcms-lov>
                         </tbody>
                      </table>  
                      </td>
                    </tr>
                   

                </tbody>
		    </table>
 					
 
  </div>
</div>
