<div class="panel panel-primary">
		<!--  <div class="panel-heading"></div>  -->
		  <div class="panel-body">
		  
		  
		  
<table class="table table-hover ">

	<thead style="color:white;background-color:#337ab7;">
			 <tr>
			 
			 	<th>HCP/O Name</th>
			 	<th>Consent Updated Date</th>
                 <th>Consent Code</th>
                 <th>Consent Status</th>
                 <th>Consent Start Date</th>
                 <th>Consent End Date</th>
                 <th>Consent Event Name</th>
                 <th>Initiated By</th>
                 <th>Document</th>
			</tr>  
 	</thead>
		 <tbody data-ng-repeat="field in ConsentAttributes">
		  
					 <tr data-ng-if="field.bpid.id==id">  
					 
              									<td>{{field.bpid.firstName}} {{field.bpid.lastName}}</td>
                                                <td>{{field.consentstatus.updatedDate}}</td>
                                                <td>{{field.consentstatus.consentStatusCode}}</td>
          										<td>{{field.consentstatus.consentName}}</td>
          										<td>{{field.consentstartdate}}</td>
          										<td>{{field.consentenddate}}</td>
          										<td>{{field.eventname}}</td>
         										<td>{{field.createdBy}}</td>
                                                <td><a href="">View</a></td>
                             

                           </tr>
    
                 </tbody>

              </table>
              </div>
              </div>
                           