<!-- Home page -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Search Details</h3>
	</div>
	
	<div class="panel-body-con" id="pannel-search">
		<div ng-model="downloadMsg" style="color: green; font-size: 13px;"
			role="alert">{{msg}}</div>
		<div ng-model="msg" style="color: green; font-size: 13px;"
			role="alert">{{responseOnSave}}</div>
		<div ng-model="failuremsg" style="color: maroon; font-size: 13px;"
			role="alert">{{responseOnUnsave}}</div>
		<form name="requestSearchForm" class="form-horizontal"
			style="margin-right: -12px; margin-left: 32px;">
			<div class="container-fluid">
				<div class="row">
				<div ng-hide="true" class="col-sm-3" id="search-drop" style="margin-left: -63px;width: 264px;">
						<select ng-model="request.collectingCountry" class="drop-receipi"
							style="margin-left: 37px;" ng-disabled="readOnlyCC" required>
							<option value = "">Please select</option>
							<option ng-repeat="con in counties | filter:efpiaFilter " >{{con.name}}</option>
						</select>
						<label style="font-size: 12px;margin-left: 37px;"">Collecting Country</label><br>
					</div> 
					<div class="col-sm-3 form-group" id="search-drop">
						<select ng-model="request.country" class="drop-receipi"
							ng-disabled="readOnlyPC" required>
							<option value = "">Please select</option>
							<option ng-repeat="rep in counties|filter : efpiaFilter" >{{rep.name}}</option>
						</select> <label style="font-size: 12px;margin-left: 3px;">Reporting Country</label><br>
					</div>
					<div class="col-sm-3 form-group" id="search-drop">
						<select ng-model="request.profileType" class="drop-receipi" required>							 						
							<option ng-repeat="prof in profile_types">{{prof.name}}</option>
						</select>						
						<label style="font-size: 12px;margin-left: 2px;">Business Party Type</label><br>
					</div>
					<div class="col-sm-3 form-group" id="search-drop">
					<input type="text" class="form-control" id="firstName"
						ng-model="request.firstName" style="width: 264px; height: 25px;margin-left: -4px;">
					<label for="firstName" style="font-size: 12px;margin-left: -2px;">First Name</label><br>
				</div>
				<div class="col-sm-3 form-group" style="width: 264px; height: 25px;">
					<input type="text" class="form-control" id="address"
						ng-model="request.address"
						style="margin-left: 17px; margin-top: 6px; width: 264px;height: 25px;">
					<label for="address" style="font-size: 12px;margin-left: 20px;">Address</label><br>
				</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group" id="search-drop">
						<input type="text" class="form-control" id="lastName"
						ng-model="request.lastName" style="width: 250px;"> <label style="font-size: 12px;margin-left: 1px;">Last Name/Organization Name</label><br>
					</div>
					<div class="col-sm-3 form-group" id="search-drop">
						<input type="text" class="form-control" id="city"
						ng-model="request.city" style="width:247px;">						
						<label style="font-size: 12px;margin-left: 3px;">City</label><br>
					</div>
					<div class="col-sm-3 form-group" id="search-drop">
					<input type="text" class="form-control" id="firstName"
						ng-model="request.speciality" style="width: 264px; height: 25px;margin-left: -4px;"  ng-readonly="true">
					<label for="firstName" style="font-size: 12px;margin-left: -2px;">Speciality</label><br>
				</div>
				<div class="col-sm-3 form-group" style="width: 264px; height: 25px;">
					<input type="text" class="form-control" id="address"
						ng-model="request.address"
						style="margin-left: 17px; margin-top: 6px; width: 264px;height: 25px;" ng-readonly="true">
					<label for="address" style="font-size: 12px;margin-left:17px;" >Template Type</label><br>
				</div>
				</div>
				<div class="form-group">
				<button type="submit" class="btn btn-lg btn-default" ng-click="submit(request)" alt="Search" data-toggle="tooltip"
						data-placement="top" title="search"
						ng-disabled="requestSearchForm.$invalid">
						Search</button>
					<gcms-modal template="template.download.html"
						controller="ModalDefaultCtrl" ok="submittry" content="dataToSend">
					<span class="btn btn-lg btn-default" role="button" data-toggle="tooltip"
						data-placement="top" title="download" ng-click="list()">Download</span> </a> </gcms-modal></span>
						<span class="create-button">
						<gcms-modal template="identity.request.html"
						controller="ModalDefaultCtrl" ok="create" content="profile">
					<a href=""><i>Cannot find a profile? Create a request here</i></a></gcms-modal>
					</span>
				
			</div>
	</div>
	</form>
	
</div>

</div>
<div class="panel panel-primary table-responsive">
	<table class="table table-hover ">
		<div class="table-responsive">
			<table st-table="profileSearchCopy" st-safe-src="profileSearch"
				st-reset="isReset"
				class="table table-bordered table-striped table-highlight">
				<thead>
					<tr style="color: white; background-color: #337ab7;">
						<th
							style="font-size: 13px; font-family: sans-serif; ">#</th>
						<th 
							ng-hide = "true"
						    ng-click="orderByField='id'; reverseSort = !reverseSort"
							st-sort="id"
							style="font-size: 13px; font-family: sans-serif;  width: 77px;">TR
							ID</th>
						<th 
							ng-hide = "true"
							ng-click="orderByField='profileType'; reverseSort = !reverseSort"
							style="font-size: 13px; font-family: sans-serif;  width: 86px;"
							st-sort="profileType">Profile Type</th>
						<th ng-click="orderByField='lastName'; reverseSort = !reverseSort"
							st-sort="lastName"
							style="font-size: 13px; font-family: sans-serif;">Last Name</th>
						<th
							ng-click="orderByField='firstName'; reverseSort = !reverseSort"
							st-sort="firstName"
							style="font-size: 13px; font-family: sans-serif;">First Name</th>
						<th
							ng-click="orderByField='organisationName'; reverseSort = !reverseSort"
							st-sort="organisationName"
							style="font-size: 13px; font-family: sans-serif;">Organization Name</th>
						<th ng-click="orderByField='city'; reverseSort = !reverseSort"
							st-sort="city"
							style="font-size: 13px; font-family: sans-serif;">City
							Name</th>
						<th ng-click="orderByField='address'; reverseSort = !reverseSort"
							st-sort="address"
							style="font-size: 13px; font-family: sans-serif;">Address</th>
						<th
							ng-click="orderByField='specialty'; reverseSort = !reverseSort"
							st-sort="specialty"
							style="font-size: 13px; font-family: sans-serif;">Specialty</th>
						<th
							ng-click="orderByField='specialty'; reverseSort = !reverseSort"
							st-sort="specialty"
							style="font-size: 13px; font-family: sans-serif;">Consent
							History</th>
					</tr>
					<tr>
						<th></th>
						<th ng-hide = "true"><input ng-model="search.id" st-search="id"
							placeholder=" " class="form-control" type="search" /></th>
						<th ng-hide = "true"><input ng-model="search.profileType"
							st-search="profileType" placeholder=" " class="form-control"
							type="search" /></th>
						<th><input ng-model="search.lastName" st-search="lastName"
							placeholder=" " class="form-control" type="search" /></th>
						<th><input ng-model="search.firstName" st-search="firstName"
							placeholder=" " class="form-control" type="search" /></th>
						<th><input ng-model="search.organisationName"
							st-search="organisationName" placeholder=" " class="form-control"
							type="search" /></th>
						<th><input ng-model="search.city" st-search="city"
							placeholder=" " class="form-control" type="search" /></th>
						<th><input ng-model="search.address" st-search="address"
							placeholder=" " class="form-control" type="search" /></th>
						<th><input ng-model="search.specialty" st-search="specialty"
							placeholder=" " class="form-control" type="search" /></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="pro in profileSearchCopy | filter:search:strict | orderBy:orderByField:reverseSort">
						<td><input type="checkbox"
							ng-model="checkboxes.items[pro.id]" class="recipient-checkbox"></td>
						<td ng-hide = "true">{{pro.id}}</td>
						<td ng-hide = "true">{{pro.profileType}}</td>
						<td class="reci-name" style="word-break: break-all;">{{pro.lastName}}</td>
						<td class="reci-name" style="word-break: break-all;">{{pro.firstName}}</td>
						<td class="reci-name" style="word-break: break-all;">{{pro.organisationName}}</td>
						<td class="reci-name" style="word-break: break-all;">{{pro.city}}</td>
						<td class="reci-name" style="word-break: break-all;">{{pro.address}}</td>
						<td style="word-break: break-all;"></td>
						<td><a href="" type="submit" data-ng-click="submitid(pro.id)" class="recipi-view">
								View </a></td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<!-- <td colspan="10" class="text-center">
                     <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                     </td> -->
						<td colspan="7" class="text-center">
							<div st-items-by-page="20" st-pagination=""
								st-template="app/profile/list/pagination.custom.html"></div>
							<div>{{responseOnSearch}}</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</table>
</div>
<br />
<br />
</div>