<!-- Home page -->	
	<div class=".container-search-panel" style="width:100%;">
        <div class="panel panel-primary">
            <div class="panel-heading td-search-panel-text">{{('Search Details' | gTranslate:translationData:'SRCH_DET')}}</div>
            <div class="panel-body">
			<form name="requestSearchForm">
                <table style="width:100%; border-spacing:0px">
                <div class="row">
                    <tr>
                        <td ng-show="sysAdmin" class="td-search-panel col-xs-3">
                            <div class="input-group">
                                <select class="form-control input-sm td-search-panel-text" ng-model="request.collectingCountry" ng-change="compare()" ng-disabled="readOnlyCC" required><option value = "">{{('Please select' | gTranslate:translationData:'PLS_SLCT')}}</option>
								<option ng-repeat="con in counties" >{{con.name}}</option></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_PAY_CNTRY_MSG.content|gTranslate:translationData:'HOME_PAY_CNTRY_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </td>
                        <td class="td-search-panel col-xs-3">
                            <div class="input-group">
                                <select class="form-control input-sm td-search-panel-text" ng-model="request.country" ng-disabled="readOnlyPC" ng-change="compare()" required><option value = "">{{('Please select' | gTranslate:translationData:'PLS_SLCT')}}</option>
							<option ng-repeat="rep in counties|filter : efpiaFilter" >{{rep.name}}</option></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus"  data-content="{{(HOME_REP_CNTRY_MSG.content|gTranslate:translationData:'HOME_REP_CNTRY_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </td>
                        <td class="td-search-panel col-xs-3">
                            <div class="input-group">
                                <select class="form-control input-sm td-search-panel-text" ng-model="request.profileType" ng-change="clear()" required><option ng-repeat="prof in profile_types">{{prof.name}}</option></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_PROFILE_TYP_MSG.content|gTranslate:translationData:'HOME_PROFILE_TYP_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </td>
                        <td class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.firstName" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm"  data-placement="bottom" data-trigger="focus" data-content="{{(HOME_FRS_NM_MSG.content|gTranslate:translationData:'HOME_FRS_NM_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>

                        </td>
                        
                        <td ng-hide="sysAdmin" class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.address" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm"  data-placement="bottom" data-trigger="focus" data-content="{{(HOME_ADDRESS_MSG.content|gTranslate:translationData:'HOME_ADDRESS_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td ng-show="sysAdmin" class="td-search-panel-text col-xs-3">{{('Paying Country' | gTranslate:translationData:'PAY_CNTRY')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('Reporting Country' | gTranslate:translationData:'RPT_CNTRY')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('Profile Type' | gTranslate:translationData:'PRF_TYP')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('First Name' | gTranslate:translationData:'FRS_NM')}}</td>
                        <td ng-hide="sysAdmin" class="td-search-panel-text col-xs-3">{{('Address' | gTranslate:translationData:'PRF_ADDR')}}</td>
                    </tr>
                    </div>
                    <div class="row"> 
                    <tr >
                        <td class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.lastName" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_LST_NM_MSG.content|gTranslate:translationData:'HOME_LST_NM_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>

                        </td>
                        <td class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.city" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_PROFILE_CITY_MSG.content|gTranslate:translationData:'HOME_PROFILE_CITY_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>

                        </td>
                        <td class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.speciality" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_PROFILE_SPEC_MSG.content|gTranslate:translationData:'HOME_PROFILE_SPEC_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>

                        </td>
                        <td class="td-search-panel col-xs-3">
                            <div class="input-group">
                                <select class="form-control input-sm td-search-panel-text" ng-model="request.tmpl_id" ng-change="change()" ng-options="template.id as template.tmpl_name for template in templates | filter:templateFilter"><option value="" ng-show="{{empty}}">{{('Select Template' | gTranslate:translationData:'SLCT_TMPL')}}</option></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(HOME_TEMPLATE_TYPE_MSG.content|gTranslate:translationData:'HOME_TEMPLATE_TYPE_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-search-panel-text col-xs-3">{{('Last Name / Organization Name' | gTranslate:translationData:'LST_ORG_NM')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('Profile City' | gTranslate:translationData:'PRF_CTY')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('Profile Specialty' | gTranslate:translationData:'PRF_SPLT')}}</td>
                        <td class="td-search-panel-text col-xs-3">{{('Template Type' | gTranslate:translationData:'TMPL_TYP')}}</td>
                    </tr>
				</div>
				<div class="row">
					<tr>
						<td ng-show="sysAdminCCID" class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.uniqueTypeId" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(CCID_MSG.content|gTranslate:translationData:'CCID_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                   		</td>
                   		<td ng-show="sysAdminNIT" class="td-search-panel col-xs-3">

                            <div class="input-group">
                                <input class="form-control input-sm td-search-panel-text" ng-model="request.uniqueTypeId" type="text" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" data-placement="bottom" data-trigger="focus" data-content="{{(NIT_MSG.content|gTranslate:translationData:'NIT_MSG')}}" style="height: 30px;" bs-popover><i class="fa fa-lg fa-question-circle" aria-hidden="true"></i></button>
                                </span>
                            </div>
                   		</td>
					</tr>
					<tr>
						<td ng-show="sysAdminCCID" class="td-search-panel-text col-xs-3">CCID</td>
						<td ng-show="sysAdminNIT" class="td-search-panel-text col-xs-3">NIT</td>
					</tr>
				</div>

                </table>
			</form>
                <table style="width:100%; border-spacing:0px; ">
                    <tr class="row">
                        <td class="td-search-panel col-xs-6" style="width:100%; padding-top:10px;align:left">
                            <button type="submit" class="btn btn-primary btn-sm td-search-panel-text" ng-click="submit(request)" ng-disabled="requestSearchForm.$invalid">{{('Search' | gTranslate:translationData:'ACT_SRCH')}}</button>                          
					
						<span ng-show="!setDownload"> 
								<gcms-modal template="template.download.html" controller="ModalDefaultCtrl" ok="submittry" content="dataToSend" >
							    <span class="btn btn-warning btn-sm td-search-panel-text" role="button"  ng-click="list()" ng-disabled="setDownload" >{{('Download Consent Form(s)' | gTranslate:translationData:'DWNL_CONS')}}</span></gcms-modal>
						</span> 
						<span ng-show="setDownload">
								<button type="submit" class="btn btn-warning btn-sm td-search-panel-text" ng-click="" alt="Download" data-toggle="tooltip" data-placement="top" title="Download Consent Annex Template" ng-disabled="true">{{('Download Consent Form(s)' | gTranslate:translationData:'DWNL_CONS')}}</button>
						</span> 
					
				

                        </td>

                        <td class="td-search-panel col-xs-6" style="align:left">
							<gcms-modal template="identity.request.html" controller="ModalDefaultCtrl" ok="create" content="profile">                            
							<span ng-hide="profileFiler" class="btn btn-primary btn-sm td-search-panel-text" role="button" ng-click="passCountryName()" >{{('Cannot find a profile? Create a request here' | gTranslate:translationData:'CRT_RQST')}}</span>
							</gcms-modal>
							<gcms-modal template="identity.request.col.html" controller="ModalDefaultCtrl" ok="createTempProfile" content="profile">
							<span ng-show="profileFiler" class="btn btn-primary btn-sm td-search-panel-text" role="button" ng-click="passCountryName()" >{{('Cannot find a profile? Create a Profile here' | gTranslate:translationData:'CRT_PRF')}}</span>
							</gcms-modal>
                        </td>


                    </tr>

                </table>
            </div>
        </div>
    </div>

<div class="panel panel-primary">
	<table class="table table-hover ">
		<div class="table-responsive">
			<table st-table="profileSearchCopy" st-safe-src="profileSearch"
				st-reset="isReset"
				st-set-filter="SearchFilter"				
				class="table table-bordered table-striped table-highlight">
				<thead>
					<tr style="color: white; background-color: #337ab7;">
						
						<th 
							></th>
						<th 
							
						    ng-click="orderByField='id'; reverseSort = !reverseSort"
							st-sort="id"
							style="width:77px;"
							class="td-search-panel-text">TR
							ID</th>
						<th 
							ng-hide = "true"
							ng-click="orderByField='profileType'; reverseSort = !reverseSort"
							style="font-size: 13px; width: 86px;"
							st-sort="profileType"class="td-search-panel-text">{{('Profile Type' | gTranslate:translationData:'PRF_TYP')}}</th>
						<th 
							ng-hide = "true"
							ng-click="orderByField='isTempProfile'; reverseSort = !reverseSort"
							style="font-size: 13px; width: 86px;"
							st-sort="isTempProfile"class="td-search-panel-text">isTempProfile</th>
						<th 
							ng-hide = "hideHCP"
							ng-click="orderByField='lastName'; reverseSort = !reverseSort"
							st-sort="lastName"
							class="td-search-panel-text"
							>{{('Last Name' | gTranslate:translationData:'LST_NM')}}</th>
						<th
							ng-hide = "hideHCP"
							ng-click="orderByField='firstName'; reverseSort = !reverseSort"
							st-sort="firstName"
							class="td-search-panel-text"
							>{{('First Name' | gTranslate:translationData:'FRS_NM')}}</th>
						<th
							ng-hide = "hideHCO"
							ng-click="orderByField='organisationName'; reverseSort = !reverseSort"
							st-sort="organisationName"
							class="td-search-panel-text"
							>{{('Organization Name' | gTranslate:translationData:'ORG_NM')}}</th>
						<th ng-click="orderByField='city'; reverseSort = !reverseSort"
							st-sort="city"
							class="td-search-panel-text"
							>{{('City Name' | gTranslate:translationData:'CTY_NM')}}</th>
						<th ng-click="orderByField='address'; reverseSort = !reverseSort"
							st-sort="address"
							class="td-search-panel-text"
							>{{('Address' | gTranslate:translationData:'PRF_ADDR')}}</th>
						<th
							ng-hide = "hideHCP"
							ng-click="orderByField='speciality'; reverseSort = !reverseSort"
							st-sort="specialit"
							class="td-search-panel-text"
							>{{('Specialty' | gTranslate:translationData:'PF_SPLT')}}</th>
						<th
							ng-hide = "hideCredential"
							ng-click="orderByField='credential'; reverseSort = !reverseSort"
							st-sort="credential"
							class="td-search-panel-text"
							>{{('Credential' | gTranslate:translationData:'PF_CRDNL')}}</th>
						<th style="width:105px;" class="td-search-panel-text">{{('Consent History' | gTranslate:translationData:'CONS_HST')}}</th>
					</tr>
					<tr>
						<th></th>
						<th><input ng-model="search.id" st-search="id"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "true"><input ng-model="search.profileType"
							st-search="profileType" placeholder=" " class="form-control td-search-panel-text"
							type="search" /></th>
						<th ng-hide = "true"><input ng-model="search.isTempProfile"
							st-search="isTempProfile" placeholder=" " class="form-control td-search-panel-text"
							type="search" /></th>
						<th ng-hide = "hideHCP"><input ng-model="search.lastName" st-search="lastName"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "hideHCP"><input ng-model="search.firstName" st-search="firstName"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "hideHCO"><input ng-model="search.organisationName"
							st-search="organisationName" placeholder=" " class="form-control td-search-panel-text"
							type="search" /></th>
						<th><input ng-model="search.city" st-search="city"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th><input ng-model="search.address" st-search="address"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "hideHCP"><input ng-model="search.speciality" st-search="speciality"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th ng-hide = "hideCredential"><input ng-model="search.credential" st-search="credential"
							placeholder=" " class="form-control td-search-panel-text" type="search" /></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr
						data-ng-repeat="pro in profileSearchCopy track by $index | orderBy:orderByField:reverseSort">
						<td style="text-align: center"><input type="checkbox"							
							ng-model="checkboxes.items[pro.id]" class="recipient-checkbox"></td>
						<td class="td-search-panel-text">{{pro.id}}</td>
						<td ng-hide = "true" class="td-search-panel-text">{{pro.profileType}}</td>
						<!-- R2.0 - arunkv: for time being setting isTempProfile later change it to isTempProfile -->
						<td ng-hide = "true" class="td-search-panel-text">{{pro.isTempProfile}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.lastName}}" ng-hide = "hideHCP">{{pro.lastName}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.firstName}}" ng-hide = "hideHCP">{{pro.firstName}}</td>
						<td class="tasktd td-search-panel-text" ng-hide = "hideHCO" title="{{pro.organisationName}}">{{pro.organisationName}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.city}}">{{pro.city}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.address}}">{{pro.address}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.speciality}}" ng-hide = "hideHCP">{{pro.speciality}}</td>
						<td class="tasktd td-search-panel-text" title="{{pro.credential}}" ng-hide = "hideCredential">{{pro.credential}}</td>						
						<td style="text-align:center"><gcms-modal template="consentstatus.html"
						controller="ModalDefaultCtrl" resolve="" content="consentAttributes">
						<a href="" title="View consent history" title="View consent history" ng-click="view(pro.id,pro.firstName,pro.lastName,pro.organisationName)" class="tasktd td-search-panel-text">View</a></gcms-modal></td>					
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<!-- <td colspan="10" class="text-center">
                     <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                     </td> -->
						<td colspan="8" class="text-center">
							<div st-items-by-page="20" st-pagination=""
								st-template="app/profile/list/pagination.custom.html"></div>
							<div>{{responseOnSearch}}</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</table>
</div>
<br />
<br />
</div>