<div class="panel panel-primary table-responsive">
	<div class="panel-heading">Manage Countries and Templates</div>

	<div class="panel-body">

<!-- <div ng-include="'app/filemanager/templates' + '/modals.html'"></div> -->

<!-- st-safe-src="ReviewAttributes" st-table="displayedCollection" st-safe-src="ReviewAttributes" -->
		<table st-table="displayedCollection" st-safe-src="ReviewAttributes"
			class="table table-bordered table-hover table-condensed">
			<thead style="background-color: #337ab7; color: white">
				<tr style="height:6%;">
					
					<th style="width:8%;text-align:center">Action</th>
					<th style="width: 15%;" st-sort="countries.isoCode">Country ISO Code</th>
					<th style="width: 15%;" st-sort="countries.name">Country Name</th>
					<th style="width: 28%;" st-sort="cntryContact">Country Contact</th>
					<th style="width: 45%;" >Identity Reviewers</th>
					
					

				</tr>
				
				
			</thead>
			<tbody>
			 <tr>
				<td></td>
				<td><input st-search="countries.isoCode" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="countries.name" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="cntryContact" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="cntryReviewer" placeholder=" " class="form-control" type="search" /></td>
				</tr>   <!-- | filter:ReviewerFilter -->
				<tr ng-repeat-start="con in displayedCollection ">

					<td  style="width: 139px;"><gcms-modal
							template="administration.country.update.html"
							controller="ModalDefaultCtrl" content="con" ok="update"
							alt="Edit {{con.id}}"> <span
							title="Edit"
							class="fa fa-pencil" style="color: #337ab7;margin-left: 18px;"></span>
						</gcms-modal>
						<span ng-if="con.expanded"  title="View/Add template" ng-click="con.expanded = false">
							<i class="fa fa-arrow-down" aria-hidden="true" style=" font-size: 15px; color: #337ab7; padding-left: 9px;"></i>
						</span>
						<span ng-if="!con.expanded" title="View/Add template"  ng-click="value(con)">
							<i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 15px; color: #337ab7; padding-left: 9px;"></i>
						</span></td>
					<td>{{con.countries.isoCode}}</td>
					<td>{{con.countries.name}}</td>
					<td class="tasktd">{{con.cntryContact}}</td>
					<td class="tasktd cap">{{con.cntryReviewer}}</td>
				</tr>
				<tr ng-if="con.expanded" ng-repeat-end="" ng-controller="FileManagerController">
					<td></td>
					<td colspan="4">
						<!--  st-table="Templates" -->
						<table st-table="Templates" class="table table-bordered table-striped table-highlight">
							<thead style="background-color: #337ab7; color: white">
								<tr>
									<th style="text-align: center; width: 7%;"><gcms-modal
											template="administration.template.add.html"
											controller="ModalDefaultCtrl" ok="createTemplate"
											alt="Add Templates"><a href="" title="Add Templates"><i style="color: white; margin-top: 8px;" class="fa fa-plus-circle fa-2x"></i></a>
										</gcms-modal></th>

									<th style="width: 12%;">Template Name</th>
									<th>Template Code</th>
									<th style="width: 28%;">Template Description</th>
									<th>Dates Range</th>
									<th>Validity Start Date</th>
									<th>Validity End Date</th>
									<th style="width: 9%;">Template Status</th>
									<th>Template Upload</th>
									<!-- data-ng-if="temp.cntry_id.id==con.countries.id" -->
								</tr>
							</thead>
							<tbody ng-repeat="temp in Templates">

								<tr data-ng-if="temp.cntry_id.id==con.countries.id">

									<td><gcms-modal
											template="administration.template.update.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="updateTemplate"  alt="Edit Template {{temp.id}}" >
										<span class="fa fa-pencil" ng-click = "date(temp)"
											style="color: #337ab7;margin-left:2px" title="Edit Template"></span> </gcms-modal>
											 <gcms-modal
											template="administration.template.delete.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="deleteTemplate" alt="Delete Template {{temp.id}}">
										<span class="fa fa-trash"
											style="color: #337ab7; margin-left: 7px;" title="Delete Template"></span> </gcms-modal>											
										<gcms-modal
											template="administration.template.deactivate.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="deactivateTemplate" alt="Deactivate Template {{temp.id}}" ng-show="temp.tmpl_status=='ACTIVE'">
										<span class="fa fa-ban fa-inverse"
											 title="Deactivate Template"
											style="color:#337ab7 ; margin-left: 9px;"></span> </gcms-modal>
										<gcms-modal
											template="administration.template.activate.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="activateTemplate"  ng-show="temp.tmpl_status=='INACTIVE'">
										<span class="fa fa-ban fa-inverse"
											 title="Activate Template"
											style="color:gray; margin-left: 9px;"></span> </gcms-modal>

										<!-- ng-hide="IsVisible"<span><button ng-click="showHide()">show</button>
										<i class="fa fa-toggle-on" aria-hidden="true"></i></span> -->

									</td>
									<td class="tasktd">{{temp.tmpl_name}}</td>
									<td>{{temp.tmpl_code}}</td>
									<td class="tasktd">{{temp.tmpl_desc}}</td>
									<td>{{temp.dates_rages}}</td>
									<td>{{temp.startDate }}</td>
									<td>{{temp.endDate }}</td>
									<td class="sak">
									<span ng-if="temp.tmpl_status=='ACTIVE'" style="color: #337ab7;">{{temp.tmpl_status}}</span>
									<span ng-if="temp.tmpl_status=='INACTIVE'">{{temp.tmpl_status}}</span>
									</td>
									<td>
											<!-- ng-show="temp.tmpl_status=='ACTIVE'" -->
										<div ng-if="temp.tmpl_location==undefined">
									<gcms-upload template="template.modals.html"
										controller="ModalDefaultCtrl2" content="temp" ok="close" >
										 <span title="Upload Tempalte" style="margin-left: 21%;" class="fa fa-arrow-circle-up" >
									</gcms-upload>
								</div>
								
								
								<div ng-if="temp.tmpl_location!=undefined" >								    
											<gcms-upload template="template.modals.html"
										controller="ModalDefaultCtrl2" content="temp" ok="close" >
										 <span title="Update Template" style="margin-left: 21%;" class="fa fa-arrow-circle-up" >
									</gcms-upload>
									<a href="" ng-click="download(temp)" ><span title="Download Template" style="margin-left: 22%;"class="fa fa-arrow-circle-down"></span></a>
								
								</div> 
								
										
									</td>
								</tr>


							</tbody>
						</table>
					</td>
			</tr>
			</tbody>
			 <tfoot >
				<tr>
					<td colspan="13" class="text-center">
						<div st-safe-src="ReviewAttributes"  st-items-by-page='5' st-pagination=""
							st-template="app/task/pagination.custom.html"></div>
					</td>
				</tr>
			</tfoot> 
		</table>

		 <!-- </tr>
		</tbody>
		</table> --> 
	</div>
</div>
	<br/>
	
<div class="panel panel-primary ng-scope">	
  <div class="panel-heading">Manage Users and Roles</div>
  
  <div class="panel-body">
   <span style="color: green;">{{success}}</span>
   <span style="color: red;">{{error}}</span>
   
   <!-- st-table="displayedCollection" st-safe-src="ReviewAttributes" -->
<!-- 	<table 
			class="table table-bordered table-hover table-condensed">
			<thead style="background-color: #337ab7; color: white">
        <tr>
		<th style="width: 50px; text-align: center;">
		  <gcms-modal template="admin.role.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
		   <a href="" title="Add Role"><i class="fa fa-plus-circle fa-2x" style="color: white;" ></i></a>
		  </gcms-modal>
		</th>
		
        <th >Username</th>
          <th >Country</th>
          <th ng-repeat="role in roles">
            <gcms-modal template="admin.role.detail.html" controller="ModalDefaultCtrl" content="role" ok="detailOk" alt="Role Details" ><span style="background-color: #337ab7; color: white !important">{{role.roleName}}</span></gcms-modal>
          </th>
      </tr>
	  </thead>
      <tbody>
        <tr class="adminRole" ng-repeat="profile in profiles | orderBy:'userName'">
          <td style="padding-right:10px">
             <a ng-click="go(profile)"><span title="Edit" class="fa fa-pencil" style="color: #337ab7;"></span></a> 
                        
              <gcms-modal template="admin.role.delete.html" controller="ModalDefaultCtrl"
              content="profile" ok="delete" alt="delete user">
            	  <span class="fa fa-trash" title="Delete" style="color: #337ab7; margin-left: 8px;"></span>
            </gcms-modal>
          </td>

          <td>{{profile.userName}}</td>
          <td>{{profile.countryISOCode}}</td>

          <td ng-repeat="role in roles"><i ng-show="profile.roleId === role.id" class="fa fa-check"></i></td>
        </tr>
   </tbody>
   </table> -->

      <table class="table table-hover">
	<div class="table-responsive"> 
   <table st-table="profilesCopy" st-safe-src="profiles"
				st-reset="isReset"
				class="table table-bordered table-striped table-highlight">
				<thead>
					<tr style="color: white; background-color: #337ab7;">
						
						<!-- <th style="width: 50px; text-align: center;">
							<gcms-modal template="admin.role.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
						 <a href="" title="Add Role"><i class="fa fa-plus-circle fa-2x" style="color: white;" ></i></a>
						  </gcms-modal>
						</th> -->
						
						<th>Username</th>
						<th>Country </th>
						
						<th ng-repeat="role in roles">
						<gcms-modal template="admin.role.detail.html" controller="ModalDefaultCtrl" content="role" ok="detailOk" alt="Role Details" ><span style="background-color: #337ab7; color: white !important">{{role.roleName}}</span></gcms-modal>
						</th>
					</tr>
					
					<tr>
						<!-- <th></th> -->
						<th><input ng-model="search.userName" st-search="userName"
							placeholder=" " class="form-control" type="search" /></th>
						<th><input ng-model="search.countryISOCode"
							st-search="countryISOCode" placeholder=" " class="form-control"
							type="search" /></th>
						
						<th ng-repeat="role in roles"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="adminRole" ng-repeat="profile in profilesCopy | filter:search:strict">
			<!--  <td style="padding-right:10px">
             <a ng-click="go(profile)"><span title="Edit" class="fa fa-pencil" style="color: #337ab7;"></span></a> 
                        
              <gcms-modal template="admin.role.delete.html" controller="ModalDefaultCtrl"
              content="profile" ok="delete" alt="delete user">
            	  <span class="fa fa-trash" title="Delete" style="color: #337ab7; margin-left: 8px;"></span>
            </gcms-modal>
          </td> -->
						
		  <td>{{profile.userName}}</td>
          <td>{{profile.countryISOCode}}</td>
		  <td ng-repeat="role in roles"><i ng-show="profile.roleId === role.id" class="fa fa-check"></i></td>
										
					</tr>
				</tbody>
				
				<tfoot>
				<tr>
					<td colspan="8" class="text-center">
							<div st-items-by-page="10" st-pagination=""
								st-template="app/profile/list/pagination.custom.html"></div>
							<div>{{responseOnSearch}}</div>
					</td>
				</tr>
			</tfoot> 
			</table>
			 </div>
	</table> 
   
</div>
</div>



