<h3>Administration</h3>

<hr />
<div class="panel panel-primary ng-scope">
	<div class="panel-heading">Manage Countries and Templates</div>

	<div class="panel-body" style="padding:27px;">

<!-- <div ng-include="'app/filemanager/templates' + '/modals.html'"></div> -->


		<table st-table="displayedCollection" st-safe-src="ReviewAttributes"
			class="table table-bordered table-hover">
			<thead style="background-color: #337ab7; color: white">
				<tr style="height:6%;">
					
					<th style="width:4%;"></th>
					<th style="width: 13%;" st-sort="countries.isoCode">Country ISO Code</th>
					<th style="width: 13%;" st-sort="countries.name">Country Name</th>
					<th style="width: 22%;" st-sort="cntryContact">Country Contact</th>
					<th style="width: 52%;" st-sort="cntryReviewer">Identity Reviewers</th>

				</tr>
				
				
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td><input st-search="countries.isoCode" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="countries.name" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="cntryContact" placeholder=" " class="form-control" type="search" /></td>
				<td><input st-search="cntryReviewer" placeholder=" " class="form-control" type="search" /></td>
				</tr>
				<tr ng-repeat-start="con in displayedCollection">

					<td  style="width: 139px;"><gcms-modal
							template="administration.country.update.html"
							controller="ModalDefaultCtrl" content="con" ok="update"
							alt="Edit {{con.id}}"> <span
							title="Edit"
							class="fa fa-pencil" style="color: #337ab7;"></span>
						</gcms-modal>
						<span ng-if="con.expanded"  title="View/Add template" ng-click="con.expanded = false">
							<i class="fa fa-arrow-down" aria-hidden="true" style=" font-size: 13px; color: #337ab7; padding-left: 9px;"></i>
						</span>
						<span ng-if="!con.expanded" title="View/Add template"  ng-click="value(con)">
							<i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 13px; color: #337ab7; padding-left: 9px;"></i>
						</span></td>
					<td>{{con.countries.isoCode}}</td>
					<td>{{con.countries.name}}</td>
					<td style="word-break: break-all ;">{{con.cntryContact}}</td>
					<td style="word-break: break-all ;" title="{{con.cntryReviewer}}">{{con.cntryReviewer}}</td>
				</tr>
				<tr ng-if="con.expanded" ng-repeat-end="" ng-controller="FileManagerController">
					<td></td>
					<td colspan="4">
						<!--  st-table="Templates" -->
						<table class="table table-bordered table-striped table-highlight">
							<thead style="background-color: #337ab7; color: white">
								<tr>
									<th style="text-align: center;"><gcms-modal
											template="administration.template.add.html"
											controller="ModalDefaultCtrl" ok="createTemplate"
											alt="Add Templates"><a href="" title="Add Templates"><i style="color: white;" class="fa fa-plus-circle"></i></a>
										</gcms-modal></th>

									<th style="width: 20%;">Template Name</th>
									<th>Template Code</th>
									<th style="width: 25%;">Template Description</th>
									<th>Dates Range</th>
									<th>Validity Start Date</th>
									<th>Validity End Date</th>
									<th>Template Status</th>
									<th>Template Upload</th>
									<!-- data-ng-if="temp.cntry_id.id==con.countries.id" -->
								</tr>
							</thead>
							<tbody ng-repeat="temp in Templates">

								<tr data-ng-if="temp.cntry_id.id==con.countries.id">

									<td><gcms-modal
											template="administration.template.update.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="updateTemplate"  alt="Edit Template {{temp.id}}" ng-show="temp.tmpl_status=='ACTIVE'">
										<span class="fa fa-pencil"
											style="color: #337ab7;margin-left:10px" title="Edit"></span> </gcms-modal>
											 <gcms-modal
											template="administration.template.delete.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="deleteTemplate" alt="Delete Template {{temp.id}}">
										<span class="fa fa-trash"
											style="color: #337ab7;margin-left:8px" title="Delete"></span> </gcms-modal>											
										<gcms-modal
											template="administration.template.deactivate.html"
											controller="ModalDefaultCtrl" content="temp"
											ok="deactivateTemplate" alt="Deactivate Template {{temp.id}}" ng-show="temp.tmpl_status=='ACTIVE'">
										<span class="fa fa-ban fa-inverse"
											 title="Deactivate"
											style="color: #337ab7;margin-left:8px""></span> </gcms-modal>


										<!-- ng-hide="IsVisible"<span><button ng-click="showHide()">show</button>
										<i class="fa fa-toggle-on" aria-hidden="true"></i></span> -->

									</td>
									<td style="word-break: break-all ;">{{temp.tmpl_name}}</td>
									<td>{{temp.tmpl_code}}</td>
									<td style="word-break: break-all ;">{{temp.tmpl_desc}}</td>
									<td>{{temp.dates_rages}}</td>
									<td>{{temp.validity_start_date | date:'dd-MM-yyyy'}}</td>
									<td>{{temp.validity_end_date | date:'dd-MM-yyyy'}}</td>
									<td>{{temp.tmpl_status}}</td>
									<td >
									
									
										
											
										
										<div ng-if="temp.tmpl_location==undefined">
									<gcms-upload template="template.modals.html"
										controller="ModalDefaultCtrl2" content="temp" ok="updateTemplate" ng-show="temp.tmpl_status=='ACTIVE'">
										 <span>Upload</span>
									</gcms-upload>
								</div>
								
								
								<div ng-if="temp.tmpl_location!=undefined" >								    
										<a href="" ng-click="download(temp)" ng-show="temp.tmpl_status=='ACTIVE'"> View </a>
									<gcms-upload template="template.modals.html"
										controller="ModalDefaultCtrl2" content="temp" ok="updateTemplate" ng-show="temp.tmpl_status=='ACTIVE'">
										 <span>Change</span>
									</gcms-upload>

								</div> 
								
										
									</td>
								</tr>


							</tbody>
						</table>
					</td>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="13" class="text-center">
						<div st-items-by-page="5" st-pagination=""
							st-template="app/task/pagination.custom.html"></div>
					</td>
				</tr>
			</tfoot>
		</table>

		 <!-- </tr>
		</tbody>
		</table> --> 
	</div>
</div>
	<br/>
	
<div class="panel panel-primary ng-scope">	
  <div class="panel-heading">Manage Users and Roles</div>
  
  <div class="panel-body">
   <span style="color: green;">{{success}}</span>
   <span style="color: red;">{{error}}</span>
	<table class="table table-bordered table-striped table-highlight">
      <thead>
        <tr>
		<th style="width: 50px; text-align: center;">
		  <gcms-modal template="admin.role.create.html" controller="ModalDefaultCtrl" content="addItem" ok="create" alt="Add Role">
		   <a href="" title="Add Role"><i class="fa fa-plus-circle"></i></a>
		  </gcms-modal>
		</th>
		
        <th style="color: #337ab7 !important;">Username</th>
          <th style="color: #337ab7 !important;">Country</th>
          <th ng-repeat="role in roles">
            <gcms-modal template="admin.role.detail.html" controller="ModalDefaultCtrl" content="role" ok="detailOk" alt="Role Details" >{{role.roleName}}</gcms-modal>
          </th>
      </tr>
	  </thead>
      <tbody>
        <tr class="adminRole" ng-repeat="profile in profiles | orderBy:'userName'">
          <td style="padding-right:10px">
             <a ng-click="go(profile)"><span title="Edit" class="fa fa-pencil" style="color: #337ab7;"></span></a> 
                        
              <gcms-modal template="admin.role.delete.html" controller="ModalDefaultCtrl"
              content="profile" ok="delete" alt="delete user">
            	  <span class="fa fa-trash" title="Delete" style="color: #337ab7; margin-left: 8px;"></span>
            </gcms-modal>
          </td>

          <td>{{profile.userName}}</td>
          <td>{{profile.countryISOCode}}</td>

          <td ng-repeat="role in roles"><i ng-show="profile.roleId === role.id" class="fa fa-check"></i></td>
        </tr>
   </tbody>
   </table>
</div>
</div>

